<div id="top-bar-quotations" class="projectInfoTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="create">新建</a>
    </div>
</div>

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="52px">
                    <col width="15%">
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                    <col width="19%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >企业全称</th>
                    <th>企业税号</th>
                    <th >联系人</th>
                    <th >联系人电话</th>
                    <th >开户银行</th>
                    <th>账户</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>