<div id="searchContainer"></div>
<div class="_tableWrap _tablePurchasePaymentsWrap">
    <table class="list task-list stripedList">
        <colgroup>
            <col width="70px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">移库</th>
            <th class="oe_sortable" data-sort="product.code">编码<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="product.name">名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="warehouse.name">仓库<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="location.name">库位<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="createdBy.date">入库日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="order.name">采购订单<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="order.name">入库单<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="inStock">总量<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="allocated">分配量<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="onHand">可用量<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>