<div class="form-holder">
    <form method="post" action="" id="createDepartmentForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="inner">
                    <div class="half-block left">
                        <dl class="department-info">
                            <dt><label for="categoryName">类别名称</label></dt>
                            <dd><input type="text" class="title-input blueback" name="categoryName" id="categoryName"
                                       maxlength="32" placeholder="Category Name" required value="<%=model.name%>"/>
                            </dd>
                        </dl>
                    </div>
                    <div class="half-block left">
                        <dl class="department-info">
                            <dt><label for="parentCategory">上级类别</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="parentCategory" class="current-selected" href="javascript:;"
                                   data-id="<%=(model.parent) ? model.parent._id: ''%>"
                                   data-level="<%=model.nestingLevel || ''%>" data-fullname="<%=model.fullName%>"><%=model.parent
                                    ? model.parent.name : model.name%></a>
                            </dd>
                        </dl>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </fieldset>
    </form>
</div>
