<div class="form-holder _newForm">
    <form method="post" action="" id="createJournalForm">
        <h4 class="_dialogMainTitle">新建凭证类</h4>
        <div class="_formWrap">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate"
                           id="nameInput"
                           required
                           maxlength="25"/>
                    <label class="_animate">凭证类名</label>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">会计业务</span>
                    <div class="_newSelectListWrap">
                        <a id="typeDd"
                           class="current-selected"
                           href="javascript:;">选择业务</a>
                    </div>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">借方科目</span>
                    <div class="_newSelectListWrap">
                        <a id="debitDd"
                           class="current-selected"
                           href="javascript:;">选择借方科目</a>
                    </div>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">贷方科目</span>
                    <div class="_newSelectListWrap">
                        <a id="creditDd"
                           class="current-selected"
                           href="javascript:;">选择贷方科目</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
