<div id="top-bar-quotations" class="projectInfoTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="createBank">添加银行</a>
        <a href="http://localhost:8089/#easyErp/bankFinance/list" class=" btn blue slim" title="查看" >银行理财信息</a>
    </div>
</div>

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="50px">
                    <col width="15%">
                    <col width="22%">
                    <col width="22%">
                    <col width="22%">
                    <col width="19%">
                    <col width="50px">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >名称</th>
                    <th>借方金额(收入)</th>
                    <th>贷方金额(支出)</th>
                    <th>借方余额(结存)</th>
                    <th>小结</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot ></tfoot>
            </table>
        </div>
    </div>
</div>