<div class="form-holder _newForm _newManualEntry">
    <form method="post" action="" class="_manualEntry">
        <h4 class="_dialogTitlePositioned">手工凭证输入</h4>
        <div class="_formWrap">
            <div class="_formBlock _equal _btnWrap">
                <a href="javascript:;"
                   class="btn blue slim icon-plus"
                   title="Create Journal"
                   id="createBtn">新建凭证类
                </a>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <span class="_staticLabel">日期</span>
                    <input type="text"
                           class="_animate"
                           id="date"
                           placeholder="Choose date"
                           readonly/>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">原始文件</span>
                    <div class="_newSelectListWrap">
                        <a id="sourceDocumentDd"
                           class="current-selected">选择</a>
                    </div>
                </div>
                <div id="employeesDdWrap" class="_animateSelectBox">
                    <span class="_selectTitle">Source Document</span>
                    <div class="_newSelectListWrap">
                        <a id="employeesDd"
                           class="current-selected">Select employee</a>
                    </div>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateSelectBox">
                    <span class="_selectTitle">凭证类</span>
                    <div class="_newSelectListWrap">
                        <a id="journalsDd"
                           class="current-selected">选择</a>
                    </div>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">货币</span>
                    <div class="_newSelectListWrap">
                        <a id="currencyDd"
                           class="current-selected">选择</a>
                    </div>
                </div>
            </div>
            <div class="_formBlock _equal">
                <table class="stripedList">
                    <colgroup>
                        <col width="200px">
                        <col width="50%">
                        <col width="50%">
                        <col width="40px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>科目</th>
                        <th>借方金额</th>
                        <th>贷方金额</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="enableTableOdd" id="manualTableBody">
                    <tr id="dataTrDebit" class="trs">
                        <td><a id="debitAccountDd" class="current-selected" href="javascript:;">选择</a></td>
                        <td class="editable money debit" data-type="input">0</td>
                        <td class="money credit" data-type="input">0</td>
                        <td></td>
                    </tr>
                    <tr id="dataTrCredit" class="trs">
                        <td><a id="creditAccountDd" class="current-selected" href="javascript:;">选择</a></td>
                        <td class="money debit" data-type="input">0</td>
                        <td class="editable money credit" data-type="input">0</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <a href="javascript:;" class="btn blue slim _addRow" id="addNewRow">新增行</a>
            </div>
        </div>
    </form>
</div>
