﻿<div class="form-holder task-create-holder">
    <form method="post" action="" id="editTaskForm" class="form" data-id="<%=model._id%>">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
                <li><a href="javascript:;">质量要求&违约责任</a></li>
                <li><a href="javascript:;">其他</a></li>
                <li><a href="javascript:;">文件上传</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <div class="half-block left withPaddingLeft">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label>工程名称:</label>
                                </dt>
                                <dd  >
                                    <p id="projectDd" data-shortdesc="<%=model.project.projectShortDesc%>" data-id="<%=model.project._id%>"  href="javascript:;" ><%=model.project.name%></p>
                                </dd>
                                <dt><label>合同类型 </label></dt>
                                <dd >
                                    <input type="text" id="type"  value="机械租赁合同" style="border: none" readonly="true">
                                </dd>
                                <dt><label for="workflowsDd">阶段 </label></dt>
                                <dd class="_newSelectListWrap">
                                    <a id="workflowsDd" data-id="<%=(model.workflow) ? model.workflow._id : ''%>" class="current-selected" href="javascript:;"><%=(model.workflow)?model.workflow.name:'Undefinded'%></a>
                                </dd>
                                <dt><label>租赁单位 :</label></dt>
                                <dd><input type="text" name="logged" id="leaseOwner" value="<%=model.leaseOwner%>"/></dd>
                                <dt><label>项目经理 :</label></dt>
                                <dd>
                                    <input id="pmrDd" type="text" style="border: none" readonly="true" /></dd>
                                <dt><label for="descriptions">工程简述</label></dt>
                                <dd><input type="text" name="logged" id="descriptions"   style="width: 280px;border: none" readonly="true" /></dd>
                                <input id="pmrId" type="hidden">
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt><label for="signedDate">合同签订日期</label></dt>
                                <dd><input class="extrainfo blueback" type="text" name="signedDate" style="width: 80%" id="signedDate" value="<%= model.signedDate %>" readonly/></dd>
                                <dt><label for="taskAmount">合同金额</label></dt>
                                <dd><input class="onlyNumber"  type="text" name="logged" id="taskAmount" style="width: 80%" value="<%=model.taskAmount%>"/><i>万元</i></dd>
                                <dt><label for="unit">单价</label></dt>
                                <dd><input class="onlyNumber"  type="text" name="logged" id="unit" style="width: 80%" value="<%=model.unit%>"/><i>元</i></dd>
                                <dt><label for="payTerm">付款方式</label></dt>
                                <dd><input class="onlyNumber"  type="text" name="logged" id="payTerm" style="width: 80%" value="<%=model.payTerm%>"/></dd>
                                <dt><label for="preAmount">预付款</label></dt>
                                <dd><input class="onlyNumber"  type="text" name="logged" id="preAmount" style="width: 80%" value="<%=model.preAmount%>"/><i>万元</i></dd>
                                <!--dt><label for="summaryEdit">总量</label></dt><dd>
                                <input type="text" name="summary"  id="summaryEdit" value="<%=model.summary%>" required /></dd-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="quality">质量要求:</label>
                            </dt>
                            <textarea type="text" name="description" class="taskDescriptionEdit"  id="quality" required maxlength="500"><%=model.quality%> </textarea>
                        </div>
                    </div>
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="violation">违约责任:</label>
                            </dt>
                            <textarea type="text" name="description" class="taskDescriptionEdit"  id="violation" required maxlength="500"><%=model.violation%> </textarea>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <dt>
                            <label for="note">备注:</label>
                        </dt>
                        <textarea type="text" name="description" class="taskDescriptionEdit"  id="note" required maxlength="500"><%=model.note%> </textarea>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="attachments"></div>
                </div>
                </dl>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
