<div class="_acountingTableWrap">
    <div class="_acountingTitleBlock _forOverview">
        <a href="javascript:;" class="btn blue slim plus btnPositioned" title="Create" id="top-bar-createBtn">新建合同</a>
    </div>
    <div class="_acountingTableBlock">
        <table class="list tableProjects tableFixed _currencyTable">
            <colgroup>

                <col width="12%">
                <col width="8%">
                <col width="11%">
                <col width="10%">
                <col width="7%">
                <col width="8%">
                <col width="9%">
                <col width="14%">
                <col width="10%">
                <col width="6%">
            </colgroup>
            <thead>
            <tr >
                <th  data-sort="type" style="text-align: center">合同编号</th>
                <th data-sort="project" style="text-align: center">项目名称</th>
                <th  data-sort="customer" style="text-align: center">租赁单位</th>
                <th  data-sort="pmr" style="text-align: center">单价(元）</th>
                <th  data-sort="workflow" style="text-align: center">状态</th>
                <th  data-sort="taskAmounnt" style="text-align: center">合同金额(万元)</th>
                <th  data-sort="singedDate" style="text-align: center">合同签订日期</th>
                <th data-sort="archedBy.date" style="text-align: center">存档信息</span></th>
                <th data-sort="note" style="text-align: center" >备注</th>
                <th style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody class="forToggle" id="currencyTable">
            <% collection.forEach(function(task, index){ %>
            <tr data-index="<%=index%>" data-id="<%= task._id%>" data-type="IC">
                <td style="text-align: center"><%=task.number%></td>
                <td style="text-align: center"><%=(task.project) ? task.project.name : ''%></td>
                <td style="text-align: center"><%=task.leaseOwner%></td>
                <td style="text-align: center"><%=task.unit%></td>
                <td id='stages_<%=task._id%>' style="text-align: center">
                    <div class="_newSelectListWrap">
                        <a href="javascripet:;" class="stageSelect"><%=(task.workflow) ? task.workflow.name : 'Undefinded'%></a>
                    </div>
                </td>
                <td style="text-align: center"><%=task.taskAmount%></td>
                <td style="text-align: center"><%=task.signedDate%></td>
                <td style="text-align: center"><%=(task.editedBy&&task.editedBy.date)?( task.editedBy.date + ((task.editedBy.user) ?(' (' + task.editedBy.user.login + ')') : '')):''%>
                </td>
                <td style="text-align: center"><%=task.note%></td>
                <td style="text-align: center">
                    <a href="javascript:;" class="icon-note goToEdit _actionCircleBtn" aria-hidden="true"></a>
                    <a href="javascript:;" class="icon-trash goToRemove _actionCircleBtn" aria-hidden="true"></a>
                </td>
            </tr>

            <% }) %>
            </tbody>
        </table>
    </div>
</div>