<div class="form-holder busiTrip-create-holder"> 
    <form method="post" action="" id="createbusiTripForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="topInputHolder">
                    <h2>新建发货计划</h2>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                      
                        <dt><label for="projectName">工程名称</label></dt>

                        <dd class="_newSelectListWrap">
                            <a id="projectName"
                               class="current-selected"
                               href="javascript:;">选择
                            </a>
                        </dd>

                        <dt><label for="customerDd">客户</label></dt>

                        <dd class="_newSelectListWrap">
                            <a id="customerDd"
                               class="current-selected"
                               href="javascript:;">选择
                            </a> 
                        </dd>

                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt><label for="cgdh">客户订单编号</label></dt>

                        <dd class="_newSelectListWrap">
                            <a id="cgdh"
                               class="current-selected"
                               href="javascript:;">选择
                            </a>
                        </dd>
                    </dl>   
                </div>
            </div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
