<div class="form-holder busiTrip-create-holder"> 
    <form method="post" action="" id="createbusiTripForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="topInputHolder">
                    <h2>出差申请编辑</h2>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt><label for="ID">序号</label></dt>
                        <dd class="_inputIconWrap">
                                <a id="ID" data-id="<%=model.ID%>" href="javascript:;"><%=model.ID%></a>
                        </dd>
                        <dt><label for="employeesDd">员工姓名</label></dt>

                        <dd class="_newSelectListWrap">
                            <a id="employeesDd"
                               class="current-selected"
                               data-id="<%=model.name._id%>"
                               href="javascript:;"><%=model.name.first + ' '+ model.name.last %>
                            </a>
                        </dd>

                        <dt><label for="registrationDate">申请日期</label></dt>
                        <dd class="_inputIconWrap">
                                <a id="registrationDate" data-id="<%=model.registrationDate%>" href="javascript:;"><%=model.registrationDate%></a>
                        </dd>

                        <dt><label for="isafter">是否后补</label></dt>
                        <dd class="_inputIconWrap">
                                <a id="registrationDate" data-id="<%=model.isafter%>" href="javascript:;"><%=model.isafter ? '是':'否'%></a>
                        </dd>

                        <dt>
                            <label for="datefrom">出差开始日期</label>
                        </dt>
                        <dd class="_inputIconWrap">
                                <input class="extrainfo"
                                       type="text"
                                       name="datefrom"
                                       id="datefrom"
                                       value = "<%=model.date.from%> "
                                       />
                                <label></label>
                        </dd>
                        <dt>
                            <label for="dateto">出差结束日期</label>
                        </dt>
                         <dd class="_inputIconWrap">
                                <input class="extrainfo"
                                       type="text"
                                       name="dateto"
                                       id="dateto"
                                       value = "<%=model.date.to%> "/>
                                <label></label>
                        </dd>
                        
                        <dt><label for="accommodationDay">住宿天数</label></dt>
                        <dd class="_inputIconWrap">
                                <input type="text"
                                 id="accommodationDay"
                                 required
                                 maxlength="32"
                                 value = "<%=
                                          model.accommodationDay
                                          %>"/>
                                  <label></label>
                        </dd>
                        <dt><label for="diningNumber">就餐数</label></dt>
                        <dd class="_inputIconWrap">
                                <input type="text"
                                 id="diningNumber"
                                 required
                                 maxlength="32"
                                 value = "<%=model.diningNumber%>"/>
                                  <label></label> 
                        </dd>
                        
                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt for="manager">状态</dt>
                        <dd class="_inputIconWrap">
                            <a id="manager" data-id="<%=model.manager%>" href="javascript:;">
                            <%=(model.manager) ? ('待'+ model.manager.name.first  + model.manager.name.last + '审批') : ''%></a>
                        </dd>
                    </dl>  


                    <dl class="opp-info">
                        <dt for="description">出差事由</dt>
                        <dd class="taskDescriptionCreate">
                            <textarea
                                  name="description"                                 
                                  id="description"
                                  maxlength="400"
                                  required >
                                  <%=model.description%>
                            </textarea>
                        </dd>
                        </dl>   
                </div>
            </div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
