<div id="top-bar-jobForeman" class="jobForemanTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="createJobForeman">新建</a>
        <a href="javascript:;" class="btn blue slim" title="Remove" id="removeJobForeman">删除</a>
    </div>
</div>
<div id="jobForemanTable" class="_jobForemanTableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="43px">
            <col width="10%">
            <col width="15%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll_jobForeman" class="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">姓名<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="ID">身份证号码<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="address">住址<span
                    class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="phone">联系电话<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="enterTime">进工地时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="estimate">班组评价<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="remark">备注<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTableJobForeman"></tbody>
    </table>
</div>