<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div class="_tableWrap _tableOrderList">
<div id="payRoll-Table" class="_tableWrap">
    <table class="list stripedList" id="payRoll-listTable">
        <colgroup>
            <col width="42px">
            <col width="33%">
            <col width="33%">
            <col width="33%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" class="totalRowCB" id="checkAll"/></th>
            <th>月份</th>
            <th>部门</th>
            <th>总费用</th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
</div>
