<div class="form-holder task-create-holder">
    <form method="post"
          action=""
          id="createTaskForm"
          class="form notDialog">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
                <li><a href="javascript:;">付款相关选项</a></li>
                <li><a href="javascript:;">相关责任</a></li>
                <li><a href="javascript:;">质量要求&备注</a></li>
                <li><a href="javascript:;">供货产品</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <!--div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          placeholder="Add a Description..."
                                          id="description"
                                          maxlength="500"
                                          required >
                                </textarea>
                            </div>
                        </div>
                    </div-->
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label>工程：</label>
                                </dt>
                                <dd>
                                    <div class="_modalList">
                                        <div class=" _modalSelect _newSelectListWrap">
                                            <a id="projectDd"
                                               class="current-selected"
                                               href="javascript:;">工程名称
                                            </a>
                                        </div>
                                    </div>
                                </dd>
                                <!--dt>
                                    <label>建材工程</label>
                                </dt>
                                <dd>
                                    <div class="_modalList">
                                        <div class=" _modalSelect _newSelectListWrap">
                                            <a id="building"
                                               class="current-selected"
                                               href="javascript:;">工程名称
                                            </a>
                                        </div>
                                    </div>
                                </dd-->

                                <dt>
                                    <label for="workflowsDd">阶段：</label>
                                </dt>
                                <dd><div class="_modalList">
                                    <div id="selectWorkflow"
                                         class="_modalSelect _newSelectListWrap">
                                        <a id="workflowsDd"
                                           class="current-selected"
                                           href="javascript:;">
                                        </a>
                                    </div></div></dd>
                                <dt>
                                    <label for="type">合同类型：</label>
                                </dt>
                                <dd><input type="text" id="type"  style="border: hidden" value="材料采购合同" readonly="true"> </dd>

                                <!--dt>
                                    <label>建设单位</label>
                                </dt>
                                <dd class="_newSelectListWrap">
                                    <a id="customerDd"
                                       class="current-selected"
                                       href="javascript:;">单位
                                    </a>
                                </dd-->
                                <dt>
                                    <label>项目经理：</label>
                                </dt>
                                <dd><input type="text" id="pmrDd" style="border: hidden" readonly="true"> </dd>
                                <input id="pmrId" type="hidden">
                                <dt>
                                    <label for="supplier">供货商</label>
                                </dt>
                                <dd>
                                    <div class="_modalList">
                                        <div id="selectsupplier"
                                         class="_modalSelect _newSelectListWrap">
                                            <a id="supplier"
                                               class="current-selected"
                                               href="javascript:;">供货商

                                            </a>
                                        </div>
                                    </div>
                                </dd>
                                <dt>
                                    <label for="descriptions">工程简述：</label>
                                </dt>
                                <dd><input type="text" id="descriptions" style="width: 280px;border: hidden" readonly="true" > </dd>

                            </div>
                        </div>
                    </div>
                    <!--<dt><label for="deadline">Deadline </label></dt>
                        <dd><input class="blueback" type="text" name="deadline" id="deadline" readonly /></dd>-->
                    <!--dt>
                        <label for="priorityDd">优先级</label>
                    </dt>
                    <dd class="_newSelectListWrap">
                        <a id="priorityDd"
                           class="current-selected"
                           href="javascript:;">
                        </a>
                    </dd-->
                    <!--dt>
                        <label for="StartDate">开始日期</label>
                    </dt>
                    <dd>
                        <div class="_inputIconWrap">
                            <input class="extrainfo"
                                   type="text"
                                   name="StartDate"
                                   id="StartDate"
                                   value=""
                                   readonly
                                   placeholder="Start Date"/>
                            <label></label>
                        </div>
                    </dd-->
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label for="signedDate">合同签订日期：</label>
                                </dt>
                                <dd>
                                    <div class="_inputIconWrap">
                                        <input class="extrainfo"
                                               type="text"
                                               name="StartDate"
                                               id="signedDate"
                                               value=""
                                               readonly/></div>
                                </dd>
                                <dt>
                                    <label for="proDate">供货期：</label>
                                </dt>
                                <dd>
                                    <input type="text" id="proDate" style="width: 160px" />
                                </dd>
                                <dt>
                                    <label for="proProduct">供货产品：</label>
                                </dt>
                                <dd>
                                    <input type="text" id="proProduct" style="width: 160px" />
                                </dd>
                                <dt>
                                    <label for="taskAmount">合同金额：</label>
                                </dt>
                                <dd>
                                    <input type="text" id="taskAmount" class="onlyNumber" style="width: 160px" /><i>万元</i>
                                </dd>
                                <dt>
                                    <label for="sealType">申请印章类别：</label>
                                </dt>
                                <dd><div class="_modalList">
                                    <div id="selectSealType"
                                         class="_modalSelect _newSelectListWrap">
                                        <a id="sealType"
                                           class="current-selected"
                                           href="javascript:;">类别
                                        </a>
                                    </div>
                                </div></dd>
                                <!--dt>
                                    <label for="payTerm">付款方式</label>
                                </dt>
                                <dd>
                                    <input type="text"
                                           id="payTerm"/>
                                </dd-->
                                <!--dt>
                                    <label for="estimated">工程量</label>
                                </dt>
                                <dd>
                                    <input type="text"

                                           name="estimated"
                                           id="estimated"
                                           class="onlyNumber"
                                           placeholder="Estimated"/>
                                </dd>

                                        <dt>
                                            <label for="summaryTask">总量</label>
                                        </dt>
                                        <dd>
                                            <input type="text"
                                               name="summary"

                                               id="summaryTask"
                                               required
                                               placeholder="Summary"/>
                                        </dd-->
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt style="width: 130px;margin-top:25px">
                                    <label for="payTerm">付款方式：</label>
                                </dt>
                                <dd style="margin-top: 25px">
                                    <input type="text"
                                           id="payTerm"/>
                                </dd>
                                <dt style="width: 130px;margin-top:25px">
                                    <label for="payProp">付款比例：</label>
                                </dt>
                                <dd style="margin-top: 25px">
                                    <input type="text"
                                           id="payProp"
                                           style="width: 90%"    /><i>%</i>
                                </dd>
                                <dt style="width: 130px;margin-top:25px">
                                    <label for="preAmount">预付款：</label>
                                </dt>
                                <dd style="margin-top: 25px">
                                    <input type="text"
                                           id="preAmount" style="width: 80%"/><i>万元</i>
                                </dd>
                                <dt style="width: 130px;margin-top:25px">
                                    <label for="preAmountType">预付款相关条件：</label>
                                </dt>
                                <dd>
                                    <table class="list">
                                        <tr>
                                            <td width="50px">
                                                <input id="preAmountRateLabel"  data-id="preAmountRateLabel" name="preAmount" type="radio" value="比例" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="preAmountRateLabel">比例</label>
                                            </td>
                                            <td width="70px">
                                                <input type="text" id="preAmountRate" style="width: 40px"/><i>%</i>
                                            </td>
                                            <td width="50px">
                                                <input id="preAmountLabel" data-id="preAmountLabel" name="preAmount" type="radio" value="金额" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="preAmountLabel">金额</label>
                                            </td>
                                            <td width="50px">
                                                <input type="text" id="preAmountAll" style="width: 70px"/><i>元</i>
                                            </td>
                                            <td style="text-align: left">
                                                <div class="_modalList" style="width: 150px">
                                                    <div id="selectPreAmountType"
                                                         style="width: 150px"
                                                         class="_modalSelect _newSelectListWrap">
                                                        <a id="preAmountType"
                                                           class="current-selected"
                                                           href="javascript:;">类型
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </dd>
                                <dt style="width: 130px;margin-top: 20px">
                                    <label for="quota" >限额选项</label>
                                </dt>
                                <dd>
                                    <table class="list">
                                        <tr>
                                            <td width="50px">
                                                <input id="quota"  data-id="quota" type="checkbox" value="quota" style="width: 10px;" /><label for="quota">订单单条数据，数量小于</label>
                                                <input type="text" id="quotaNumber" style="width: 80px"/><i>单位</i>
                                                <input type="text" id="quotaUnit" style="width: 80px"/><i>时，作</i>
                                                <input type="text" id="quotaAccount" style="width: 80px"/><i>核算</i>
                                            </td>
                                        </tr>
                                    </table>
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt style="width: 130px;margin-top: 20px">
                                    <label for="paymentType">付款条件:</label>
                                </dt>
                                <dd>
                                    <table class="list">
                                        <tr>
                                            <td width="50px">
                                                <input id="paymentTypeByMonth" data-id="paymentTypeByMonth" name="paymentType" type="radio" value="按月（单批）" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="paymentTypeByMonth">按月（单批）:按月支付</label>
                                            </td>
                                            <td width="70px">
                                                <input type="text" id="paymentTypeByMonthRate" style="width: 40px"/><i>%</i>
                                            </td>
                                            <td width="50px">
                                                <input id="paymentTypeByNode" data-id="paymentTypeByNode" name="paymentType" type="radio" value="按金额" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="preAmountLabel">按节点：</label>
                                            </td>
                                            <td width="50px" style="text-align: left">
                                                <input id="paymentTypeByAmount" data-id="paymentTypeByAmount" name="paymentTypeBranch" type="radio" value="按金额" style="width: 10px;"/>
                                                <label for="paymentTypeByAmount" >按金额</label>
                                                <input type="text" id="paymentTypeByAmountNumber" style="width: 40px"/><i>元,支付</i>
                                                <input type="text" id="paymentTypeByAmountRate" style="width: 40px"/><i>%</i><br>
                                                <input id="paymentTypeByQuantity"  data-id="paymentTypeByQuantity" name="paymentTypeBranch" type="radio" value="按数量" style="width: 10px;height: 20px"/>
                                                <label for="paymentTypeByQuantity">按数量</label>
                                                <input type="text" id="paymentTypeByQuantityNumber" style="width: 40px"/><i>(单位:m2/Kg/)，支付</i>
                                                <input type="text" id="paymentTypeByQuantityRate" style="width: 40px"/><i>%</i><br>

                                            </td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt style="width: 130px;margin-top: 20px">
                                    <label for="payType">所有附加条件：</label>

                                </dt>
                                <dd>
                                    <table class="list">
                                        <tr>
                                            <td width="50px">
                                                <input id="NDZF"  data-id="NDZF" type="checkbox" value="NDZF" style="width: 10px;" /><label for="NDZF">年底支付</label>
                                                <input type="text" id="NDZFRate" style="width: 40px"/><i>%</i>
                                            </td>
                                            <td width="50px">
                                                <input id="AZWCZF"  data-id="AZWCZF" type="checkbox" value="NDZF" style="width: 10px;" /><label for="AZWCZF">安装完成支付</label>
                                                <input type="text" id="AZWCZFRate" style="width: 40px"/><i>%</i>
                                            </td>
                                            <td width="50px">
                                                <input id="YSHGZF"  data-id="YSHGZF" type="checkbox" value="NDZF" style="width: 10px;" /><label for="YSHGZF">验收合格支付</label>
                                                <input type="text" id="YSHGZFRate" style="width: 40px"/><i>%</i>
                                            </td>
                                            <td width="50px">
                                                <input id="ZBJ"  data-id="ZBJ" type="checkbox" value="NDZF" style="width: 10px;" /><label for="ZBJ">质保金</label>
                                                <input type="text" id="ZBJRate" style="width: 40px"/><i>%</i>
                                            </td>

                                        </tr>
                                    </table>

                                </dd>
                                <dt style="width: 130px;margin-top: 20px">
                                    <label for="carriage">运费选项：</label>
                                </dt>
                                <dd>
                                    <table class="list">
                                        <tr class="carriageList">
                                            <td width="50px">
                                                <input id="carriageByAmount" data-id="carriageByAmount" name="carriage" type="radio" value="按金额" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="carriageByAmount">按金额：</label>
                                            </td>
                                            <td width="50px" style="text-align: left">
                                                <label for="carriageByAmountRange" >金额范围：</label>
                                                <input type="text" id="carriageByAmountRange1" style="width: 80px"/><i>-</i>
                                                <input type="text" id="carriageByAmountRange2" style="width: 80px"/><i>;运费金额</i>
                                                <input type="text" id="carriageByAmountRange3" style="width: 80px"/><i>元</i><br>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="6" class="addCarriage">
                                                <a href="javascript:;">添加新项</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50px">
                                                <input id="carriageByAddress" data-id="carriageByAddress" name="carriage" type="radio" value="按到货地址" style="width: 10px;height: 50px"/>
                                            </td>
                                            <td width="50px">
                                                <label for="carriageByAmount">按到货地址：</label>
                                            </td>
                                            <td width="50px" style="text-align: left">
                                                <input id="AddressCompany"  data-id="AddressCompany" type="checkbox" value="AddressCompany" style="width: 10px;" /><label for="AddressCompany">公司：</label>
                                                <input id="AddressCompanyDP" data-id="AddressCompanyDP" name="AddressCompanyType" type="radio" value="单批" style="width: 10px;"/>
                                                <label for="AddressCompanyDP">单批,运费金额</label>
                                                <input type="text" id="AddressCompanyDPAmount" style="width: 80px"/><i>元</i><br>
                                                <input id="AddressCompanyDWSL" data-id="AddressCompanyDWSL"  name="AddressCompanyType" type="radio" value="单位数量" style="width: 10px;margin-left: 62px"/>
                                                <label for="AddressCompanyDWSL">单位数量,运费金额</label>
                                                <input type="text" id="AddressCompanyDWSLAmount" style="width: 80px"/><i>元</i><br>
                                                <input id="AddressConstruction"  data-id="AddressConstruction" type="checkbox" value="AddressConstruction" style="width: 10px;" /><label for="AddressConstruction">工地：</label>
                                                <input id="AddressConstructionDP" data-id="AddressConstructionDP" name="AddressConstructionType" type="radio" value="单批" style="width: 10px;"/>
                                                <label for="AddressConstructionDP">单批,运费金额</label>
                                                <input type="text" id="AddressConstructionDPAmount" style="width: 80px"/><i>元</i><br>
                                                <input id="AddressConstructionDWSL" data-id="AddressConstructionDWSL" name="AddressConstructionType" type="radio" value="单位数量" style="width: 10px;margin-left: 62px"/>
                                                <label for="AddressConstructionDWSL">单位数量,运费金额</label>
                                                <input type="text" id="AddressConstructionDWSLLAmount" style="width: 80px"/><i>元</i><br>
                                            </td>
                                        </tr>
                                    </table>
                                </dd>


                                <!--dt>
                                    <label for="payTerm">付款方式</label>
                                </dt>
                                <dd>
                                    <input type="text"
                                           id="payTerm"/>
                                </dd-->
                                <!--dt>
                                    <label for="estimated">工程量</label>
                                </dt>
                                <dd>
                                    <input type="text"

                                           name="estimated"
                                           id="estimated"
                                           class="onlyNumber"
                                           placeholder="Estimated"/>
                                </dd>

                                        <dt>
                                            <label for="summaryTask">总量</label>
                                        </dt>
                                        <dd>
                                            <input type="text"
                                               name="summary"

                                               id="summaryTask"
                                               required
                                               placeholder="Summary"/>
                                        </dd-->
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="respons">双方责任:</label>
                            </dt>
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="respons"
                                          maxlength="500"
                                          required ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="violation">违约责任:</label>
                            </dt>
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="violation"
                                          maxlength="500"
                                          required ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <dt>
                            <label for="quality">质量要求:</label>
                        </dt>
                        <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="quality"
                                          maxlength="500"
                                          required ></textarea>
                        </div>
                        <dt>
                            <label for="note">备注:</label>
                        </dt>
                        <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="note"
                                          maxlength="500"
                                          required ></textarea>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <!--div class="inner">
                        <table class="list  _invoiceTable">
                            <colgroup>
                                <col width="300px">
                                <col width="100x">
                            </colgroup>
                            <thead>
                            <tr >
                                <th id="productName">
                                    产品
                                </th>
                                <th  id="quantity">
                                    数量
                                </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2" class="addProductItem">
                                    <a href="javascript:;">添加</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="productItemsHolder">

                        </div>
                    </div-->
                    <div id="productItemsHolder">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>