<div class="form-holder">
    <form method="post" action="" id="editEmployeeForm" class="form">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs">
                    <li><a class="active" href="javascript:;">主要</a></li>
                    <li><a href="javascript:;">销售 & 购买</a></li>
                    <li><a href="javascript:;">分配给</a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items">
                    <div class="dialog-tabs-item active">
                        <div class="avatar">
                            <div class="upload">
                                编辑
                                <input type="file" value="Edit" id="inputImg" accept="image/*">
                            </div>
                            <canvas id="avatar" width="140" height="140"></canvas>
                        </div>
                        <div class="avatarInfoContainer">
                            <div class="half-block left">
                                <dl class="person-info">
                                    <dt><label for="name">公司 </label></dt>
                                    <dd><input type="text" name="name" id="name" required value="<%=model.name.first%>" placeholder="名称" maxlength="32"/></dd>
                                    <dt><label for="websiteEdit">网站 </label></dt>
                                    <dd><input type="text" name="website" id="websiteEdit" value="<%=model.website%>" placeholder="e.g. www.site.com" maxlength="32" /></dd>
                                    <dt><label for="emailEdit">电子邮件 </label></dt>
                                    <dd><input type="text" name="mail" id="emailEdit" value="<%=model.email%>" placeholder="e.g. email@site.com" maxlength="48" /></dd>
                                    <dt><label for="LI">LinkedIn</label></dt>
                                    <dd><input type="text" id="LI" value="<%=model.social.LI%>" placeholder="LinkedIn"
                                               maxlength="256"/></dd>
                                    <dt><label for="FB">Facebook</label></dt>
                                    <dd><input type="text" id="FB" value="<%=model.social.FB%>" placeholder="Facebook"
                                               maxlength="256"/></dd>
                                    <dt><label for="phone">电话 </label></dt>
                                    <dd><input type="text" name="phone" id="phone" value="<%=model.phones.phone%>" placeholder="电话号码" maxlength="20" /></dd>
                                    <dt><label for="mobile">手机 </label></dt>
                                    <dd><input type="text" name="mobile" id="mobile" value="<%=model.phones.mobile%>" placeholder="手机号码" maxlength="20" /></dd>
                                </dl>
                                <dt><label for="employeesDd">分配给</label></dt>
                                <dd class="_newSelectListWrap">
                                    <a id="employeesDd" data-id="<%=(model.salesPurchases.salesPerson)?model.salesPurchases.salesPerson._id:''%>" class="current-selected" href="javascript:;"><%=(model.salesPurchases.salesPerson)?(model.salesPurchases.salesPerson.name.first+" "+model.salesPurchases.salesPerson.name.last):"选择"%></a>
                                </dd>
                            </div>
                            <div class="half-block left">

                                <dl class="person-info">
                                    <dt><label for="street">街道 </label></dt>
                                    <dd><input type="text" name="street" id="street" value="<%=model.address.street%>" placeholder="街道..." maxlength="32" /></dd>
                                    <dt><label for="city">城市 </label></dt>
                                    <dd><input type="text" name="city" id="city" value="<%=model.address.city%>" placeholder="城市" maxlength="32" /></dd>
                                    <dt><label for="state">状态 </label></dt>
                                    <dd><input type="text" name="state" id="state" value="<%=model.address.state%>" placeholder="状态" maxlength="32" /></dd>
                                    <dt><label for="zip">邮政编码 </label></dt>
                                    <dd><input type="text" name="zip" id="zip" value="<%=model.address.zip%>" placeholder="邮政编码" maxlength="32" /></dd>
                                    <dt><label for="country">地区 </label></dt>
                                    <dd>
                                        <a class="current-selected" name="country"  data-id="address_country" id="country" data-value="<%=model.address.country%>"><%=model.address.country || '选择'%></a>
                                    </dd>
                                </dl>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="details-dialog">

                        </div>
                        <div class="clearfix"></div>
                        <div class="cropImages form" style="display:none;">
                            <div class="formTitle">
                                <h3 class="left">裁剪图片</h3>
                                <div class="clearfix"></div>
                            </div><br />
                            <div class="image_input" style="float: left;margin-right: 20px;"></div>
                            <img class="image_output" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div id="salesPurchases-container"></div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="assignees-container"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>