﻿<div class="form-holder task-create-holder">
    <form method="post" action="" id="editTaskForm" class="form" data-id="<%=model._id%>">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <div class="half-block left withPaddingLeft">
                        <div class="inner">
                            <div class="task-info">
                                <dt><label for="acceptType">承兑类型:</label></dt>
                                <dd class="_newSelectListWrap" style="margin-top: 5px">
                                    <a id="acceptType"
                                       class="current-selected"
                                       data-id="<%=model.acceptType%>"
                                       href="javascript:;"><%=model.acceptType%></a>
                                </dd>
                                <dt>
                                    <label for="acceptDate">出票日期</label>
                                </dt>
                                <dd>
                                    <div class="_inputIconWrap">
                                        <input class="extrainfo"
                                               type="text"
                                               name="acceptDate"
                                               id="acceptDate"
                                               style="width: 150px"
                                               value="<%=model.acceptDate%>"
                                               readonly/>
                                    </div>
                                </dd>
                                <dt>
                                    <label for="amount">金额</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="amount"
                                                id="amount"
                                                style="width: 150px"
                                                value="<%=model.amount%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="acceptMan">出票人全称</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="acceptMan"
                                                id="acceptMan"
                                                style="width: 150px"
                                                value="<%=model.acceptMan%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="payDepartment">付款单位</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="payDepartment"
                                                id="payDepartment"
                                                style="width: 150px"
                                                value="<%=model.payDepartment%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="Department">承担部门</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="Department"
                                                id="Department"
                                                style="width: 150px"
                                                value="<%=model.Department%>"
                                        />
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label for="endDate">到期日期</label>
                                </dt>
                                <dd>
                                    <div class="_inputIconWrap">
                                        <input class="extrainfo"
                                               type="text"
                                               name="endDate"
                                               id="endDate"
                                               style="width: 150px"
                                               value="<%=model.endDate%>"
                                               readonly/>
                                    </div>
                                </dd>
                                <dt>
                                    <label for="acceptNumber">承兑汇票号码</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="acceptNumber"
                                                id="acceptNumber"
                                                style="width: 150px"
                                                value="<%=model.acceptNumber%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="payBank">付款行全称</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="payBank"
                                                id="payBank"
                                                style="width: 150px"
                                                value="<%=model.payBank%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="receiveMan">收款人全称</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="receiveMan"
                                                id="receiveMan"
                                                style="width: 150px"
                                                value="<%=model.receiveMan%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="note">备注</label>
                                </dt>
                                <dd>
                                    <div >
                                        <input
                                                type="text"
                                                name="note"
                                                id="note"
                                                style="width: 150px"
                                                value="<%=model.note%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="payDate">付款日期</label>
                                </dt>
                                <dd>
                                    <div class="_inputIconWrap">
                                        <input class="extrainfo"
                                               type="text"
                                               name="payDate"
                                               id="payDate"
                                               style="width: 150px"
                                               value=""
                                               readonly/>
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </fieldset>
    </form>
</div>
