<div id="searchContainer"></div>
<div class="_tablePayoutWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="18%">
            <col width="17%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="supplier.name.first">员工<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentRef">奖励类型<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="year">年<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="month">月<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">已支付<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">总薪水<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!--<th class="oe_sortable" data-sort="workflow">Status<span class="arrow down"></span><span class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="date">支付日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>