<% paymentCollection.forEach(function(element, index) {%>
<tr data-id="<%=element._id%>">
    <td class="notForm centerCell">
        <label class="_customCHeckbox">
            <input type="checkbox" value="<%=element._id%>"  data-status="<%=element.status && element.status.approved ? element.status.approved: false%>"
                <% if ( element.status && element.status.approved ) { %>
                    class="checkbox notRemovable" disabled='disabled'
                <% } else { %>
                    class="checkbox"
                <% } %>
                />
            <span></span>
        </label>
    </td>
    <td class="centerCell"><%=index+1%></td>
    <td class="centerCell"><%= element.name %></td>
    <td class="centerCell"><%=element.projectName%></td>
    <td class="centerCell"><%=element.load%></td>
    <td class="centerCell"><%=element.unLoad%></td>
    <td class="centerCell"><%=element.sum? element.sum: 0%></td>
    <td class="centerCell"><%= element.status.approved ? common.utcDateToLocaleDate(element.createdBy.date) : common.utcDateToLocaleDate(element.date)%></td>
    <td class="centerCell"><%= common.utcDateToLocaleDate(element.createdBy.date)%></td>
    <td class="centerCell"><%= element.description%></td>
    <td class="centerCell _statusOrders">
        <span class="<%=element.status &&  element.status.approvedOn ? 'icon-checked2 green transparented' : 'icon-close3 red transparented'%>"></span>
    </td>
</tr>
<%})%>