<div id="searchContainer"></div>
<div class="_tableWrap _tableGoodsOut">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
            <col width="11%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="centerCell">序号</th>
            <th class="oe_sortable centerCell" data-sort="name">发货计划单号
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="projectName">工程名称
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="load">发货地
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="unLoad">卸货地
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="sum">计划发货数
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="date">计划发货日期
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="createdBy.date">制单日期
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="description">备注
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable centerCell" data-sort="approved">审核
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>