<% minimumWage.forEach(function(minimumWage, index){ %>
<tr data-id="<%=minimumWage._id%>">
    <td data-type="input" class = "centerCell">
    <span><%=minimumWage.wage/100%></span>
    </td>
    <td data-type="input" class = "centerCell"><%=minimumWage.communication%></td>
    <td>
        <a href="javascript:;" class="icon-note goToEdit _actionCircleBtn" aria-hidden="true"></a>
        <a href="javascript:;" class="icon-trash goToRemove _actionCircleBtn" aria-hidden="true"></a>
    </td>
</tr>
<% }) %>
