
<div id="searchContainer"></div>
<div class="_tableOpportunitiesWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectName" style="text-align: center;">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="orderNumber" style="text-align: center;">订单编号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="day" style="text-align: center;">日报表日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="totalProcess" style="text-align: center;">总加工费(元)<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>