<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div id="payRoll-Table">
    <table class="list stripedList" id="payRoll-listTable">
        <colgroup>
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
        </colgroup>
        <thead>
        <tr>
            <th>工程名称</th>
            <th>采购单号</th>
            <th>条码号</th>
            <th>工序</th>
            <th>数量</th>
            <th>单价</th>
            <th>金额</th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>

