<span id="toggleFilters" class="search-content icon-caret-down"></span>
<div id="filtersContent" class="hidden">
    <div class="tabs">
        <ul>
            <li>
                <a href="#filtersSelector">
                    <span class="fa fa-filter"></span>
                    搜索
                    <span class="caret"></span>
                </a>
            </li>
            <li>
                <a href="#savedFilters">
                    <span class="fa fa-star"></span>
                    自定义
                    <span class="caret"></span>
                </a>
            </li>
        </ul>
        <div id="filtersSelector">
        </div>
        <div id="savedFilters">

        </div>
    </div>
</div>
