<table class="list _projectTableLeftAlign tableFixed _invoiceTable">
    <colgroup>
        <col width="200px">
        <!--<col width="200px">-->
        <col width="100px">
        <col width="120px">

        <col width="100px">
        <col width="100px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader">
        <th class="width20" data-sort="Product">
            产品
        </th>
        <th class="width20" data-sort="onHand">
            数量
        </th>
        <th class="width20" data-sort="cost">
            单价
        </th>
        <th class="width20" data-sort="newOnHand">
            修改为
        </th>
        <th class="width20" data-sort="adjusted">
            调整量
        </th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="tbodyProducts">
    <tr></tr>

    <tr>
        <td class="invisible_border">&nbsp;</td>
    </tr>
    <tr>
        <td class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
    <tr class="hidden" id="newItem">
        <td class="addProductItem">
            <a href="javascript:;">新增</a>
        </td>

    </tr>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup">

</div>
