<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">基础设置</a>
    <span class="_breadcrunmbItem"> / 产品配置</span>
</div>
<div class="form-holder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">仓库</a>
            </li>
            <li>
                <a href="javascript:;">价格列表</a>
            </li>
            <li>
                <a href="javascript:;">产品类型</a>
            </li>
            <li>
                <a href="javascript:;">产品选项</a>
            </li>
            <li>
                <a href="javascript:;">产品分类</a>
            </li>
            <li>
                <a href="javascript:;">运输方式</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="warehouseTab">
            </div>
            <div class="dialog-tabs-item" id="priceListsTab">
            </div>
            <div class="dialog-tabs-item" id="productTypesTab">
            </div>
            <div class="dialog-tabs-item" id="productOptionsTab">
            </div>
            <div class="dialog-tabs-item" id="productCategoriesTab">
            </div>
            <div class="dialog-tabs-item" id="shippimhMethodTab">
            </div>
        </div>
    </div>
</div>

