<table style =" min-width: 1700px "  class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="7%">
        <col width="10%">
        <col width="15%">
        <col width="20%">

        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">

        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="15%">
        <col width="10%">
        <col width="15%">
        <col width="15%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
        <th  data-sort="number">编号<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="name">员工姓名<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="registerationdate">申请时间<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="date">出差时间<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="description">出差事由<span class="arrow down"></span><span
                class="arrow up"></span></th>      
        <th  data-sort="air">飞机<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="train">火车<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="bus">公交(长途/地铁)<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="taxi">打的<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="kilometer">公里数<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="roadtoll">过路费<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="parkingfee">停车费<span class="arrow down"></span><span
                class="arrow up"></span></th> 
        <th  data-sort="accommodationDay">住宿天数<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="diningNumber">就餐数<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="status">状态<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="isapproved">是否批准<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="createdBy">创建者<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="editedBy">编辑者<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>
