<div id="searchContainer"></div>
<div class="_tableManualentryWrap">
    <table class="list stripedList _rowColorGrouping">
        <colgroup>
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
        </colgroup>
        <thead>
        <tr>
            <th>工程名称</th>
            <th>钣金产出（平方米）</th>
            <th>喷涂产出（平方米）</th>
            <th>原材料成本（元）</th>
            <th>加工成本（元）</th>
            <th>总运费成本（元）</th>
            <th>平均运费成本（元/平方米）</th>
            <th>该工程公摊成本</th>
            <th>销售金额(元)</th>
            <th>总成本(元)</th>
            <th>总利润(元)</th>
            <th>工程平均利润（元/平方米）</th>
            <th>工程平均成本（元/平方米）</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listFooter">
        </tfoot>

    </table>
</div>