<% departmentExternal.forEach(function(departmentExternal, index){ %>
<tr data-id="<%=departmentExternal._id%>">
    <td data-content="number" class="centerCell"><%=startNumber + index + 1%></td>
    <td data-type="input"><%=departmentExternal.year%></td>
    <td data-type="input"><%=departmentExternal.month%></td>
    <td data-content="departmentDd" data-id="<%=departmentExternal ? departmentExternal._id : null%>">
        <span><%=departmentExternal.department.name%></span>
    </td>
    <td data-type="input"><%=departmentExternal.allowanceName%></td>
    <td data-type="input"><%=departmentExternal.amount%></td>
    <td>
        <a href="javascript:;" class="icon-note goToEdit _actionCircleBtn" aria-hidden="true"></a>
        <a href="javascript:;" class="icon-trash goToRemove _actionCircleBtn" aria-hidden="true"></a>
    </td>
</tr>
<% }) %>