<div class="form-holder">
    <form class="form" id="goodsNote">
        <fieldset>
            <div class="inner">
                <div class="_goodOutWrap">
                    <div class="topPanel">
                        <div class="right">
                            <button id="createPerson" class="btn ">
                                <span class="icon-create">时间设置</span>
                            </button>
                            <button id="calculateBonus" class="btn ">
                                <span class="icon-create">奖罚息计算</span>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div id="templateDiv">


                </div>
                <div id="history">

                </div>

                <div id="NoteList">

                </div>
                <div id="mergeNoteList">

                </div>

                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
</div>