<div class="form-holder _engineerManager">
    <form method="post" action="" class="form" id="invoiceForm">
        <h3 class="_dialogTableTitle">编辑</h3>
            <div class="half-block left">       
                <dl class="opp-info">
                    <dt><label for="name">姓名: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="name" type="text" value="<%=model.name%>">
                    </dd>

                    <dt><label for="jobPosition">岗位: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="jobPosition" type="text" value="<%=model.jobPosition%>">
                    </dd>

                    <dt><label for="enterTime">进工地时间: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="enterTime" type="text" value="<%=model.enterTime%>">
                    </dd>

                    <dt><label for="age">年龄: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="age" type="text" value="<%=model.age%>">
                    </dd>

                    <dt><label for="jobType">职称: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="jobType" type="text" value="<%=model.jobType%>">
                    </dd>
                </dl>
            </div>
            <div class="half-block right">
                <dl class="opp-info">
                    <dt><label for="jobQua">岗位资格: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="jobQua" type="text" value="<%=model.jobQua%>">
                    </dd>

                    <dt><label for="certificate">证书: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="certificate" type="text" value="<%=model.certificate%>">
                    </dd>

                    <dt><label for="phone">联系电话: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="phone" type="text" value="<%=model.phone%>">
                    </dd>

                    <dt><label for="remark">备注: </label></dt>
                    <dd class = "_inputIconWrap">
                        <input id="remark" type="text" value="<%=model.remark%>">
                    </dd>
                </dl>
            </div>
    </form>
</div>