<% number=1 %>
<% tasksCollection.forEach(function(task, index){%>
<tr data-index="<%=index%>" data-id="<%= task._id%>" data-type="IC" >
    <td><%=number%></td>
    <% number=number+1 %>
    <td><%=task.invoiceDate%></td>
    <td><%=task.name%></td>
    <td><%=task.payer.fullName%></td>
    <td><%=task.project.name%></td>
    <td><%=task.amount%></td>
    <td><%=task.department.name%></td>
    <td><%=task.createdBy.user[0].login%></td>
    <td><%=task.receive? task.receive:0%></td>
    <td><%=task.note%></td>
</tr>
<% }) %>

