<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="55px">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >开票日期</th>
                    <th >发票号码</th>
                    <th>付款单位</th>
                    <th>工程名称</th>
                    <th>开票金额</th>
                    <th>部门</th>
                    <th>经办人</th>
                    <th>到账金额</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>