<div id="searchContainer"></div>
<table class="list stripedList">
    <colgroup>
        <col width="46px">
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
    </colgroup>
    <thead>
    <tr>
        <th>序号</th>
        <th>录入时间</th>
        <th>摘要</th>
        <th>借方科目</th>
        <th>贷方科目</th>
        <th>审核状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>