<div class="form-holder">
    <form method="post" action="" id="createPaymentForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="topInputHolder">
                    <h2>退保申请</h2>
                </div>
                <div >
                    <dl class="opp-info">

                        <dt><label for="number">保证金编号:</label></dt>
                        <dd class="_newSelectListWrap" >
                            <a id="number"
                               class="current-selected"
                               href="javascript:;">选择</a>
                        </dd>
                        <dt><label for="type">保证金类型:</label></dt>
                        <dd class="type">
                            <input  type="text"
                                    name="beneficialName"
                                    id="type"
                                    style="width: 150px;display: none"
                                    value="" >
                        </dd>
                        <dt>
                            <label for="project">申请工程名称:</label>
                        </dt>
                        <dd class="project">
                            <input  type="text"
                                    name="project"
                                    id="project"
                                    style="width: 150px;display: none"
                                    value="" >
                        </dd>
                        <dt>
                            <label for="beneficialName">受款人全称:</label>
                        </dt>
                        <dd class="beneficialName">
                            <input  type="text"
                                    name="beneficialName"
                                    id="beneficialName"
                                    style="width: 150px;display: none"
                                    value="" >
                        </dd>
                        <dt>
                            <label for="amount">金额:</label>
                        </dt>
                        <dd class="amount">
                            <input  type="text"
                                    name="amount"
                                    id="amount"
                                    style="width: 150px;display: none"
                                    value="" >
                        </dd>
                    </dl>
                </div>
            </div>
        </fieldset>
    </form>
</div>