<table class="_productTable">
    <colgroup>
        <col width="277px">
        <col width="317px">
        <col width="277px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="_deleteHeader">
        <th class="text-left" data-sort="Component">配件</th>
        <th data-sort="description">信息</th>
        <th data-sort="quantity">数量</th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="ComponentList">

    <tr>
        <td colspan="7" class="addProductItem text-left">
            <a href="javascript:;" class="btn blue slim">添加一项</a>
        </td>
    </tr>
    </tbody>
</table>
