<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="42px">
                    <col width="100px">
                    <col width="100px">
                    <col width="120px">
                    <col width="150px">
                    <col width="6%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="10%">
                    <col width="100px">
                    <col width="120px">
                    <col width="10%">


                </colgroup>
                <thead>
                <tr>
                    <th class="centerCell">
                        <input type="checkbox" id="checkAll"/>
                    </th>
                    <th >出票日期</th>
                    <th >到期日期</th>
                    <th >金额(元)</th>
                    <th >承兑汇票号码</th>
                    <th>类型</th>
                    <th >出票人全称</th>
                    <th >收款人全称</th>
                    <th >付款单位</th>
                    <th>付款行全称</span></th>
                    <th >付款日期</th>
                    <th>备注</th>
                    <th>承担部门</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>