<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="clearfix"></div>
            <br>
            <h3>公式</h3>
            <div class="clearfix"></div>
            <br>

            <div class="setting_element half-block left">
                <span class="_setInputTitle">计算公式: </span>
                <span id="formula"></span>
                <span>
                    <a href="javascript:;" id="addFormulaElement">...</a>
                </span>
            </div>

            <div>
                <span>公式</span>
                <input type="text" id="formulaTest" />
            </div>
        </fieldset>
    </form>
</div>
