<div id="searchContainer"></div>
<div class="_tableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="fileNumber">文件份数<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="pageNumber">每份需盖章页数<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="applyDate">申请时间<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="applyMan">申请人<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="department">部门<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="isSubmit">是否提交<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="comment">备注<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>