
<tr class="orderItem">
    <td data-name="finishData" class="">
        <!-- <input type="text" data-name="finishData" id="finishData" /> -->
        <div class="_modalSelect _newSelectListWrap" style="text-align: center;">
            <a id="opportunitieDd" class="current-selected" href="javascript:;" >请选择</a>
        </div>
    </td>
    <td data-name="workNumber" class="jobs trash ">
       <input type="text" id="workNumber" style="text-align: center;"/>
    </td>
    <td data-name="processContent" class="jobs trash ">
        <input type="text"  id="processContent" style="text-align: center;"/>
    </td>
    <td data-name="price" class="jobs trash ">
        <input type="text"  id="price"/>
    </td>
    <td data-name="processQuantity" class="jobs trash ">
        <input type="text"  id="processQuantity"/>
    </td>

    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeItem"></span>
    </td>

</tr>
