<table   class="list stripedList">
    <colgroup>
        <col width="10%">
        <col width="10%">
        <col width="80%">
    </colgroup>
    <thead>
    <tr>
        <th  data-sort="number">编号<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="name">产品名称<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th  data-sort="registerationdate">产品属性<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>
