<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">通用设置</a>
    <span class="_breadcrunmbItem"> / 财务</span>
</div>
<div class="form-holder tabsHolder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">货币</a>
            </li>
            <li>
                <a href="javascript:;">货币汇率</a>
            </li>
            <li>
                <a href="javascript:;" class="">银行账户</a>
            </li>
            <li>
                <a href="javascript:;" class="">付款条款</a>
            </li>
            <li>
                <a href="javascript:;">税种</a>
            </li>
            <li>
                <a href="javascript:;">默认值</a>
            </li>
            <li>
                <a href="javascript:;">科目类别</a>
            </li>
            <li>
                <a href="javascript:;">费用类别</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="currencyTab">
            </div>
            <div class="dialog-tabs-item" id="ratesTab">
            </div>
            <div class="dialog-tabs-item" id="paymentMethodTab">
            </div>
            <div class="dialog-tabs-item" id="paymentTermsTab">
            </div>
            <div class="dialog-tabs-item" id="taxesTab">
            </div>
            <div class="dialog-tabs-item" id="defaultsTab">
            </div>
            <div class="dialog-tabs-item" id="accountingCategoriesTab">
            </div>
            <div class="dialog-tabs-item" id="expensesCategoriesTab">
            </div>
        </div>
    </div>
</div>

