<h3>考勤处理</h3>
<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim plus" title="Create" id="top-bar-createBtn">导入</a>
    <a href="javascript:;" class="btn blue slim plus" title="generate" id="top-bar-generate">工资单处理</a>
    <span href="javascript:;" title="Export to xlsx" id="top-bar-exportToXlsxBtn" class="btn slim">下载到Xlsx</span>
    <div class="grid-conatiner _attendateWrap">
        <div class="attendanceTop">
            <div class="pull-left" style="width: 175px">
            <span >
                员工类型选择:
            </span>
                <div class="editable" data-content="type" id="type" data-id="" style="width: auto"><span><%=type%></span>
                </div>
            </div>
        </div>
    </div>
</div>
