<div class="form-holder task-create-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createChargeItemForm" class="form notDialog">
        <fieldset>
            <div class="clearfix"></div>
           
            <div class="half-block left withPaddingRightProject">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label>需生成的日期</label>
                        </dt>
                        <dd class="_newSelectListWrap">
                            <a id="days"
                               class="current-selected"
                               href="javascript:;">选择
                            </a>
                        </dd>
                       
                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
