<div class="form-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <div class="clearfix"></div>
            <div class="topInputHolder">
                <h2>退货申请</h2>
            </div>
           
            <div class="half-block left">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label>项目名称</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="projectId" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label for="orderNumber">退货单号</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="orderNumber"
                                       id="orderNumber"
                                       placeholder="退货单号"/>                              
                            </div>
                        </dd>

                        <dt>
                            <label>退货原因</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="reason"
                                       id="reason"
                                       placeholder="退货原因"/>                              
                            </div>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="half-block right">
                <div class="inner">
                    <dl class="task-info">

                        <dt>
                            <label>发货车次</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="deliverNumber" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label>退货类型</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap" style="margin-top: 15px;">
                                <a id="type" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label for="quantity">退货数量</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="quantity"
                                       id="quantity"
                                       placeholder="退货数量"/>                              
                            </div>
                        </dd>                        

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>