<div id="searchContainer"></div>
<div>
    <table style="min-width: 2000px" class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="7%">
            <col width="15%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="7%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">姓名<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="ID">身份证<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="socialInsuranceNumber">社保证号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="year">年<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="month">月<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="endowmentCol">养老保险集体<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="endowmentInd">养老保险个人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="unemployeeCol">失业保险集体<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="unemployeeInd">失业保险个人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="medicalCol">医疗保险集体<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="medicalInd">医疗保险个人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="unemployeeCol">生育保险集体<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="unemployeeInd">生育保险个人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="injuryCol">工伤保险集体<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="injuryInd">工伤保险个人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="cityHealth">市医疗保险<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="department">部门<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
