<div class="form-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <div class="clearfix"></div>
            <div class="topInputHolder">
                <h2>模拟扫码上传</h2>
            </div>
           
            <div class="half-block left">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label>条码编号</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="barId" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label>班组</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap" style="margin-top: 10px;">
                                <a id="workGroup" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label>上传日期</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="uploadtime"
                                       id="uploadtime"
                                       placeholder="上传日期"/>                              
                            </div>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="half-block right">
                <div class="inner">
                    <dl class="task-info">

                        <dt>
                            <label>工序</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="workCentre" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label for="scantime">扫码日期</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="scantime"
                                       id="scantime"
                                       placeholder="扫码日期"/>                              
                            </div>
                        </dd>

                        <dt>
                            <label for="note">备注</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="note"
                                       id="note"
                                       placeholder="备注"/>                              
                            </div>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>