<div class="form-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <div class="clearfix"></div>
            <div class="topInputHolder">
                <h2>新建条码</h2>
            </div>
           
            <div class="half-block left">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label>铝板选择</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="orderRowId" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="half-block right">
                <div class="inner">
                    <dl class="task-info">

                        <dt>
                            <label for="barId">条码编号(13位)</label>
                        </dt>
                        <dd>
                            <div class="_inputIconWrap">
                                <input type="text"
                                       name="barId"
                                       id="barId"
                                       placeholder="条码编号(13位)"/>                              
                            </div>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>