<div class="form-holder">
    <form method="post" action="" class="form" id="stockCorrection">
        <fieldset>
            <div class="inner">

                <div class="clearfix"></div>

                <div class="half-block left">
                    <dl class="opp-info">

                        <dt><label for="warehouseFrom">源仓库</label></dt>
                        <dd class="_newSelectListWrap">
                            <a id="warehouseFrom" class="current-selected" href="javascript:;">选择</a>
                        </dd>

                        <dt><label for="warehouseTo">目的仓库</label></dt>
                        <dd class="_newSelectListWrap">
                            <a id="warehouseTo" class="current-selected" href="javascript:;">选择</a>
                        </dd>
                    </dl>
                </div>

                <div class="clearfix"></div>

                <div id="productItemsHolder">

                </div>
                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
</div>