
<div id="searchContainer"></div>
<div class="_tableShejiOrdersWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <col width="20%">
            <col width="25%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="orderNumber">订单编号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="designer">设计人员<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="designDays">设计天数<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="uploadDate">上传日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="comment">备注<span class="arrow down"></span><span
                    class="arrow up"></span></th>


        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>