<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div class="_tableWrap _tableOrderList">
<div id="payRoll-Table" class="_tableWrap">
    <table class="list stripedList" id="payRoll-listTable">
        <colgroup>
            <col width="33%">
            <col width="33%">
            <col width="33%">
        </colgroup>
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="employee.name.first">姓名<span class="arrow down"></span><span class="arrow up"></span></th>
            <th>月份</th>
            <th>计件工资</th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
</div>
