<div class="form-holder task-create-holder">
    <form method="post"
          action=""
          id="createTaskForm"
          class="form notDialog">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label for="fullName">企业全称：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="fullName"
                                                id="fullName"
                                                style="width: 150px"
                                                value="<%=model.fullName%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="shortName">企业简称：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="shortName"
                                                id="shortName"
                                                style="width: 150px"
                                                value="<%=model.shortName%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="taxFileNumber">企业税号：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="taxFileNumber"
                                                id="taxFileNumber"
                                                style="width: 150px"
                                                value="<%=model.taxFileNumber%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="spell">拼音缩写：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="spell"
                                                id="spell"
                                                style="width: 150px"
                                                value="<%=model.spell%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="region">地区缩写：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="region"
                                                id="region"
                                                style="width: 150px"
                                                value="<%=model.region%>"
                                        />
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label for="linkman">联系人：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="linkman"
                                                id="linkman"
                                                style="width: 150px"
                                                value="<%=model.linkman%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="phone">联系人电话：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="phone"
                                                id="phone"
                                                style="width: 150px"
                                                value="<%=model.phone%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="bank">开户银行：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="bank"
                                                id="bank"
                                                style="width: 150px"
                                                value="<%=model.bank%>"
                                        />
                                    </div>
                                </dd>
                                <dt>
                                    <label for="account">账户：</label>
                                </dt>
                                <dd>
                                    <div>
                                        <input
                                                type="text"
                                                name="account"
                                                id="account"
                                                style="width: 150px"
                                                value="<%=model.account%>"
                                        />
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>