<div id="searchContainer"></div>
<div class="_tableWrap _tableGoodsOut">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="500px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th  style="text-align:center">投标工程</th>
            <th  style="text-align:center">投标费用</th>
            <th  style="text-align:center">年份</th>
            <th  style="text-align:center">提成比例</th>
            <th  style="text-align:center">编辑</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>