<% projectsCollection.forEach(function(project, index){%>
<tr data-index="<%= index %>" data-id="<%=project._id%>">
    <td><%=index+1%></td>
    <% if(project.designContractType._id=='WBSJHT'||project.designContractType._id=='XMBSJHT'){%>
    <td><%=project.BookProjectName?project.BookProjectName.name:''%></td>
    <td><%=project.DesignBookNumber.projectNumber%></td>
    <td><%=(project.BookCustomer) ? project.BookCustomer.name.first + ' ' + project.BookCustomer.name.last : ''%></td>
    <td><%=project.BookDesignDepartment?project.BookDesignDepartment.name:''%></td>
    <td><%=project.DesignBookNumber.amount%></td>
    <%}else{%>
    <td><%=project.projectName.name%></td>
    <td><%=project.projectNumber%></td>
    <td><%=(project.customer) ? project.customer.name.first + ' ' + project.customer.name.last : ''%></td>
    <td><%=project.designDepartment.name%></td>
    <td><%=project.amount%></td>
    <%}%>
    <td><%=project.designContractType.name%></td>
    <td><%=project.signedDate%></td>
    <td><%=project.archDate%></td>
    <td><%=project.archiveMan?project.archiveMan.name.first+' '+project.archiveMan.name.last:''%></td>
    <td><%=project.note%></td>
</tr>
<% }) %>