<div id="searchContainer"></div>
<div class="_tableProjectsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="55px">
            <col width="15%">
            <col width="13%">
            <col width="10%">
            <col width="10%">
            <col width="9%">
            <col width="9%">
            <col width="7%">
            <col width="7%">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>工程名称</th>
            <th>合同编号</th>
            <th>设计委托单位</th>
            <th>设计部门</th>
            <th>合同金额</th>
            <th>合同类别</th>
            <th>合同签订日期</th>
            <th>合同存档日期</th>
            <th>存档人</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
