<div class="form-holder task-create-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createProcessContentForm" class="form notDialog">
        <fieldset>
            <div class="clearfix"></div>
           
            <div class="half-block left withPaddingRightProject">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label for="processContent">加工内容</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="processContent"
                                   id="processContent"
                                   placeholder="加工内容"/>
                        </dd>
                        <dt>
                            <label for="unit">单位</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="unit"
                                   id="unit"
                                   placeholder="单位"/>
                        </dd>
                        <dt>
                            <label for="code">代码名称</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="code"
                                   id="code"
                                   placeholder="代码名称"/>
                        </dd>
                       
                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="half-block right withPaddingRightProject">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label for="processType">类型</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="processType"
                                   id="processType"
                                   placeholder="类型"/>
                        </dd>
                        <dt>
                            <label for="price">价格(元)</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="price"
                                   id="price"
                                   placeholder="价格(元)"/>
                        </dd>
                       
                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
