﻿
<div class="form-holder task-create-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="editProcessContentForm" class="form" data-id="<%=model._id%>">
        <fieldset>

            <div class="half-block left withPaddingRightProject">
                <div class="inner">
                    <dl class="task-info">

                        <dt><label for="processContent">收费项目</label></dt>
                        <dd>
                            <input maxlength="30" type="text" name="processContent" id="processContent" value="<%=model.processContent%>"/>
                        </dd>

                        <dt><label for="unit">单位</label></dt>
                        <dd>
                            <input maxlength="30" type="text" name="unit" id="unit" value="<%=model.unit%>"/>
                        </dd>

                        <dt><label for="code">代码名称</label></dt>
                        <dd>
                            <input maxlength="30" type="text" name="code" id="code" value="<%=model.code%>"/>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="half-block right withPaddingRightProject">
                <div class="inner">
                    <dl class="task-info">

                        <dt><label for="processType">类型</label></dt>
                        <dd>
                            <input maxlength="30" type="text" name="processType" id="processType" value="<%=model.processType%>"/>
                        </dd>

                        <dt><label for="price">价格(元)</label></dt>
                        <dd>
                            <input maxlength="30" type="text" name="price" id="price" value="<%=model.price%>"/>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>

                </div>
                <div class="clearfix"></div>
            </div>

        </fieldset>
    </form>
</div>
