
<tr class="aluminumItem">
    <td data-name="items" class="jobs trash " style="text-align: center;">
       <input type="text" id="items" style="text-align:center;"/>
    </td>
    <td data-name="price" class="jobs trash " style="text-align: center;">
        <input type="text"  id="price" style="width: 60px; text-align:center;"/>
    </td>
    <td data-name="unit" class="jobs trash " style="text-align: center;">
        <input type="text"  id="unit" style="width: 80px; text-align:center;"/>
    </td>
    <td data-name="notes" class="jobs trash " style="text-align: center;">
        <input type="text"  id="notes" style="text-align:center;"/>
    </td>

    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeItem"></span>
    </td>

</tr>