
<tr class="inventoryItem">
    <td data-name="product" class="jobs trash " style="text-align: center;">
       <!-- <input type="text" id="product" style="text-align:center;"/> -->
       <a id="product" class="current-selected" href="javascript:;">选择</a>
    </td>
    <td data-name="quantity" class="jobs trash " style="text-align: center;">
        <input type="text"  id="quantity" style="width: 60px; text-align:center;"/>
    </td>
    <td data-name="price" class="jobs trash " style="text-align: center;">
        <input type="text"  id="price" style="width: 80px; text-align:center;"/>
    </td>
    <td data-name="unit" class="jobs trash " style="text-align: center;">
        <input type="text"  id="unit" style="text-align:center;"/>
    </td>
    <td data-name="totalPrice" class="jobs trash " style="text-align: center;">
        <input type="text"  id="totalPrice" style="text-align:center;"/>
    </td>
    <td data-name="alumSource" class="jobs trash " style="text-align: center;">
        <!-- <input type="text"  id="alumSource" style="text-align:center;"/> -->
        <a id="alumSource" class="current-selected" href="javascript:;">选择</a>
    </td>
    <td data-name="alumRange" class="jobs trash " style="text-align: center;">
        <input type="text"  id="alumRange1" style="text-align:center; width: 48%"/>
        <!-- <i> - </i>
        <input type="text"  id="alumRange2" style="text-align:center; width: 48%"/> -->
    </td>
    <td data-name="alumPrice" class="jobs trash " style="text-align: center;">
        <i> ± </i><input type="text"  id="alumPrice" style="text-align:center; width: 84%"/>
    </td>
    <td data-name="executePrice" class="jobs trash " style="text-align: center;">
        <i> ± </i><input type="text"  id="executePrice" style="text-align:center; width: 84%"/>
    </td>

    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeItem"></span>
    </td>

</tr>