<div class="form-holder">
    <form method="post" action="" id="createCategoryForm" class="form">
        <fieldset>
            <div class="inner">
                <h3 class="_dialogTitle">铝锭价格</h3>
                    <dl class="department-info">
                        <dt><label for="classId">类别号</label></dt>
                        <dd><input type="text" class="title-input blueback" name="classId" id="classId"
                                   maxlength="8" placeholder="类别号" required/></dd>
                        <dt><label for="dayTime">日期</label></dt>
                        <dd><input type="text" class="title-input blueback" name="dayTime" id="dayTime"
                                   maxlength="16" placeholder="日期" required/></dd>
                        <dt><label for="minPrice">最低价格</label></dt>
                        <dd><input type="text" class="title-input blueback" name="minPrice" id="minPrice"
                                   maxlength="16" placeholder="最低价格" required/></dd>
                        <dt><label for="maxPrice">最高价格</label></dt>
                        <dd><input type="text" class="title-input blueback" name="maxPrice" id="maxPrice"
                                   maxlength="16" placeholder="最高价格" required/></dd>
                        <dt><label for="average">今日平均价格</label></dt>
                        <dd><input type="text" class="title-input blueback" name="average" id="average"
                                   maxlength="16" placeholder="今日平均价格" required/></dd>
                        <dt><label for="yAverage">昨日平均价格</label></dt>
                        <dd><input type="text" class="title-input blueback" name="yAverage" id="yAverage"
                                   maxlength="16" placeholder="昨日平均价格" required/></dd>
                    </dl>
                <div class="clearfix">
                </div>
            </div>
        </fieldset>
    </form>
</div>
