<div class="form-holder task-create-holder">
    <form method="post"
          action=""
          id="createTaskForm"
          class="form notDialog">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">选择工程</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                        <div class="inner">
                            <div class="task-info">
                                <dt style="margin-top: 10px;text-align: center"><label for="buildingContract">合同编号:</label></dt>
                                <dd class="_newSelectListWrap" style="margin-top: 15px;text-align: center">
                                    <a id="buildingContract"
                                       class="current-selected"
                                       href="javascript:;">选择</a>
                                </dd>
                                <dt style="margin-top: 10px;text-align: center"><label for="order">订单编号:</label></dt>
                                <dd class="_newSelectListWrap" style="margin-top: 15px;text-align: center">
                                    <a id="order"
                                       class="current-selected"
                                       href="javascript:;">选择</a>
                                </dd>
                                <dt style="margin-top: 10px;text-align: center"><label for="goodNote">发货单编号:</label></dt>
                                <dd class="_newSelectListWrap" style="margin-top: 15px;text-align: center">
                                    <a id="goodNote"
                                       class="current-selected"
                                       href="javascript:;">选择</a>
                                </dd>
                            </div>
                        </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>