<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">设置</a>
    <span class="_breadcrunmbItem"> / 员工信息</span>
</div>
<div class="form-holder tabsHolder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">周时间表</a>
            </li>
            <li>
                <a href="javascript:;" class="">预定支付方式</a>
            </li>
            <li>
                <a href="javascript:;" class="">默认配置</a>
            </li>
            <li>
                <a href="javascript:;" class="">工资所得项</a>
            </li>
            <li>
                <a href="javascript:;" class="">工资扣减项</a>
            </li>
            <li>
                <a href="javascript:;" class="">工资结构</a>
            </li>
            <li>
                <a href="javascript:;" class="">部门额外添加项</a>
            </li>
            <li>
                <a href="javascript:;" class="">员工额外添加项</a>
            </li>
            <li>
                <a href="javascript:;" class="">员工额外扣减项</a>
            </li>
            <li>
                <a href="javascript:;" class="">税表</a>
            </li>
            <li>
                <a href="javascript:;" class="">收税基数与可抵扣字段</a>
            </li>
            <li>
                <a href="javascript:;" class="">最低工资标准与通讯补贴</a>
            </li>
            <li>
                <a href="javascript:;" class="">出差自驾补贴</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="weeklySchedulerTab">
            </div>
            <div class="dialog-tabs-item" id="scheduledPayTab">
            </div>
            <div class="dialog-tabs-item" id="defaultProfileTab">
            </div>
            <div class="dialog-tabs-item" id="payrollEarningsTab">
            </div>
            <div class="dialog-tabs-item" id="payrollDeductionsTab">
            </div>
            <div class="dialog-tabs-item" id="payrollStructureTab">
            </div>
            <div class="dialog-tabs-item" id="departmentExternalTab">
            </div>
            <div class="dialog-tabs-item" id="personExternalTab">
            </div>
            <div class="dialog-tabs-item" id="personDeductionTab">
            </div>
            <div class="dialog-tabs-item" id="taxTab">
            </div>
            <div class="dialog-tabs-item" id="taxFreeTab">
            </div>
            <div class="dialog-tabs-item" id="minimumWageTab">
            </div>
            <div class="dialog-tabs-item" id="missionAllowanceTab">
            </div>

        </div>
    </div>
</div>

