<div class="form-holder _newForm productForm workCenterEdit">
    <form method="post" action="" id="createEmployeeForm" class="form">
        <h4 class="_dialogMainTitle">编辑工序</h4>

        <div class="dialog-tabs-items mainTabs">
            <div class="dialog-tabs-item mainTabs active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="name"
                                   autofocus
                                   required
                                   maxlength="32"
                                   value="<%=model.name%>"
                            />
                            <label class="_animate">工序名称</label>
                            <span></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="code"
                                   autofocus
                                   required
                                   value="<%=model.code%>"

                                   maxlength="32"/>
                            <label class="_animate">工序号</label>
                            <span></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="description"
                                   autofocus
                                   required
                                   value="<%=model.description%>"

                                   maxlength="32"/>
                            <label class="_animate">描述</label>
                            <span></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate forNum"
                                   id="costPerHour"
                                   autofocus
                                   required
                                   value="<%=(model.costPerHour / 100).toFixed(2) || 0 %>"
                                   maxlength="32"/>
                            <label class="_animate">单价</label>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

