<div class="_tableManualentryWrap">
    <h3 style="color: #2d3033;margin-bottom: 10px">项目经理：<%=pmr.name.first+' '+pmr.name.last%></h3>
    <div id="searchContainer"></div>
    <div >
        <table class="list stripedList">
            <colgroup>
                <col width="50px">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>工程名称</th>
                <th>收款金额</th>
                <th>使用金额</th>
                <th>账户余额</th>
                <th>可用余额</th>
            </tr>
            </thead>
            <tbody id="listTable"></tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
