<div id="searchContainer"></div>
<div class="">
    <div id="pmsTable">
        <table class="list">
            <thead>
            <tr>
                <th>展开</th>
                <th>名称</th>
                <th>工作职位</th>
                <th>总计</th>
                <th>工作数</th>
            </tr>
            </thead>
            <tbody id="listTable">
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td id="totalSum" class="money"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
