<div class="form-holder task-create-holder">
    <form method="post"
          action=""
          id="createTaskForm"
          class="form notDialog">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
                <li><a href="javascript:;">质量要求及违约责任</a></li>
                <li><a href="javascript:;">工程量清单</a></li>
                <li><a href="javascript:;">其他</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <!--div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          placeholder="Add a Description..."
                                          id="description"
                                          maxlength="500"
                                          required >
                                </textarea>
                            </div>
                        </div>
                    </div-->
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label>工程名称</label>
                                </dt>
                                <div class="_modalList">
                                    <div class="_modalSelect _newSelectListWrap">
                                        <a id="projectDd"
                                           class="current-selected"
                                           href="javascript:;">工程名称
                                        </a>
                                    </div>
                                </div>
                                <!--<dt><label for="workflowNamesDd">Workflow</label></dt>
                                    <dd>
                                      <a id="workflowNamesDd" class="current-selected" href="javascript:;"></a>
                                    </dd>-->
                                <dt>
                                    <label for="workflowsDd">阶段</label>
                                </dt>
                                <dd>
                                    <div class="_modalList">
                                        <div class="_modalSelect _newSelectListWrap">
                                            <a id="workflowsDd"
                                               class="current-selected"
                                               href="javascript:;">
                                            </a>
                                        </div>
                                    </div></dd>
                                <dt>
                                    <label for="type">合同类型</label>
                                </dt>
                                <dd><input type="text" id="type" style="width: 280px;border: hidden" value="劳务分包合同" readonly="true"> </dd>

                                <dt>
                                    <label>劳务分包人</label>
                                </dt>
                                <dd>
                                    <div class="_modalList">
                                        <div class="_modalSelect _newSelectListWrap">
                                            <a id="assignedToDd"
                                               class="current-selected"
                                               href="javascript:;">

                                            </a>
                                        </div>
                                    </div>
                                </dd>
                                <dt>
                                    <label for="descriptions">工程简述</label>
                                </dt>
                                <dd><input type="text" id="descriptions" style="width: 280px;border: hidden" readonly="true"> </dd>
                                <input id="pmrId" type="hidden">
                                <input id="customerId" type="hidden">

                            </div>
                        </div>
                    </div>
                    <!--<dt><label for="deadline">Deadline </label></dt>
                        <dd><input class="blueback" type="text" name="deadline" id="deadline" readonly /></dd>-->
                    <!--dt>
                        <label for="priorityDd">优先级</label>
                    </dt>
                    <dd class="_newSelectListWrap">
                        <a id="priorityDd"
                           class="current-selected"
                           href="javascript:;">
                        </a>
                    </dd-->
                    <!--dt>
                        <label for="StartDate">开始日期</label>
                    </dt>
                    <dd>
                        <div class="_inputIconWrap">
                            <input class="extrainfo"
                                   type="text"
                                   name="StartDate"
                                   id="StartDate"
                                   value=""
                                   readonly
                                   placeholder="Start Date"/>
                            <label></label>
                        </div>
                    </dd-->
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label for="signedDate">合同签订日期</label>
                                </dt>
                                <dd>
                                    <div class="_inputIconWrap">
                                        <input class="extrainfo"
                                               type="text"
                                               name="StartDate"
                                               id="signedDate"
                                               value=""
                                               readonly/>
                                    </div>
                                </dd>
                                <dt>
                                    <label for="taskAmount">合同金额</label>
                                </dt>
                                <dd>
                                    <input type="text" id="taskAmount" class="onlyNumber" style="width: 250px" /><i>万元</i>
                                </dd>
                                <dt>
                                    <label for="payTerm">付款方式</label>
                                </dt>
                                <dd>
                                    <input type="text"
                                           id="payTerm"/>
                                </dd>
                                <!--dt>
                                    <label for="estimated">工程量</label>
                                </dt>
                                <dd>
                                    <input type="text"

                                           name="estimated"
                                           id="estimated"
                                           class="onlyNumber"
                                           placeholder="Estimated"/>
                                </dd>

                                        <dt>
                                            <label for="summaryTask">总量</label>
                                        </dt>
                                        <dd>
                                            <input type="text"
                                               name="summary"

                                               id="summaryTask"
                                               required
                                               placeholder="Summary"/>
                                        </dd-->
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="quality">质量要求:</label>
                            </dt>
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="quality"
                                          maxlength="500"
                                          required ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt>
                                <label for="violation">违约责任:</label>
                            </dt>
                            <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="violation"
                                          maxlength="500"
                                          required ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <table class="list task-list">
                            <colgroup>
                                <col width="11%">
                                <col width="16%">
                                <col width="16%">
                                <col width="11%">
                                <col width="10%">
                                <col width="9%">
                                <col width="11%">
                                <col width="16%">

                            </colgroup>
                            <thead>

                            <tr>
                                <th   id="finishData">
                                    日期
                                </th>
                                <th  id="items">
                                    项目
                                </th>
                                <th  id="subitems">
                                    分项
                                </th>
                                <th  id="unit">
                                    单位
                                </th>
                                <th  id="amount">
                                    数量
                                </th>
                                <th  id="price">
                                    单价
                                </th>
                                <th id="money">
                                    金额
                                </th>
                                <th  id="notes">
                                    备注
                                </th>
                                <th class="deleteCell"></th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="8" class="addItem">
                                    <a href="javascript:;">添加</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <dt>
                            <label for="noted">备注:</label>
                        </dt>
                        <div class="textarea-wrapper">
                                <textarea class="taskDescriptionCreate"
                                          name="description"
                                          id="noted"
                                          maxlength="500"
                                          required ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>