<div class="_breadcrunmbs">

</div>
<div class="form-holder tabsHolder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">内部承包合同</a>
            </li>
            <li>
                <a href="javascript:;" class="">劳务分包合同</a>
            </li>
            <li>
                <a href="javascript:;" class="">机械租赁合同</a>
            </li>
            <li>
                <a href="javascript:;" class="">外加工合同</a>
            </li>
            <li>
                <a href="javascript:;" class="">材料采购合同</a>
            </li>

        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="InternalTab">
            </div>
            <div class="dialog-tabs-item" id="LabourTab">
            </div>
            <div class="dialog-tabs-item" id="MachineTab">
            </div>
            <div class="dialog-tabs-item" id="OutTab">
            </div>
            <div class="dialog-tabs-item" id="PurchaseTab">
            </div>
            </div>
        </div>
    </div>
</div>

