<div class="form-holder _newForm">
    <form method="">
        <h4 class="_dialogMainTitle">导入</h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="year"
                           required
                           value=""/>
                    <label class="_animate">年份</label>
                </div>
            </div>
        </div>
    </form>
</div>