
<tr class="personItem">
    <td data-name="personDd" class="_newSelectListWrap" style="text-align: center">
        <a id="personDd"
           data-id=""
           class="current-selected"
           href="javascript:;">名称
        </a>
    </td>

    <td data-name="rate" class="jobs trash " style="text-align: center">
        <input type="text" id="rate" style="width: 80px" />
    </td>

    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeItem"></span>
    </td>
    <div class="clearfix"></div>
</tr>