<h3>所有历史记录</h3>
<div class="historyFilter _filterDropDownWrap">
    <ul class="dateFilter">
        <li class="dateRange">
            <span class="icon-calendar"></span>
            <span id="startTime"><%=startDate%></span> - <span id="endTime"><%=endDate%></span>
            <span class="icon-arrow-down2"></span>
        </li>
        <li>
            <ul class="frameDetail _filterDropDownBody hidden">
                <li id="thisMonth" class="filterValues checked">这个月</li>
                <li id="thisYear" class="filterValues checked">这一年</li>
                <li class="listLine"></li>
                <li id="lastMonth" class="filterValues checked">上个月</li>
                <li id="lastQuarter" class="filterValues checked">上个季度</li>
                <li id="lastYear" class="filterValues checked">上一年</li>
                <li class="listLine"></li>
                <li id="custom" class="_filterArrow filterValues checked">自定义时间</li>
                <li class="customTime hidden">
                    <div class="customTimeItem">
                        <label for="startDate">开始时间: </label>
                        <input readonly type="text" id="startDate">
                    </div>
                    <div class="customTimeItem">
                        <label for="endDate">结束时间: </label>
                        <input readonly type="text" id="endDate">
                    </div>
                </li>
                <li class="buttons hidden">
                    <button id="updateDate" class="btn">
                        <span>更新</span>
                    </button>
                    <button id="cancelBtn" class="btn">
                        <span>取消</span>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>