<div id="searchContainer"></div>
<div>
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="140px">
            <col width="140px">
            <col width="200px">
            <col width="80px">
            <col width="80px">
            <col width="100px">
            <col width="100px">
            <col width="120px">
            <col width="100px">
            <col width="130px">
            <col width="110px">
            <col width="130px">
            <col width="110px">
            <col width="110px">
            <col width="110px">
            <col width="100px">
            <col width="120px">
            <col width="100px">
            <col width="130px">
            <col width="120px">
            <col width="130px">
            <col width="120px">
            <col width="120px">
            <col width="110px">
            <col width="120px">
            <col width="130px">
            <col width="120px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="140px">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">#</th>
            <th class="oe_sortable" data-sort="salesManager.name.first">项目经理<span
                    class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="project.name">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="name">工单<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workflow.name">工作流<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="type">类型<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="cost">总成本<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costQA">质监费<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costDesign">设计费<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costIOS">费用1<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costAndroid">费用2<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costUnity">费用3<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costDotNet">费用4<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costWeb">费用5<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costROR">费用6<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="costDev">费用7<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursQa"> QA时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursDesign"> Design时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursIOS"> iOS时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursAndroid"> Android时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursUnity"> Unity时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursDotNet"> .Net/WP时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursWeb"> Web时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursROR"> R.o.R.时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hoursDev"> Dev时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="margin">总利润 %<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="devMargin">Dev. 利润 %<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="avDevRate">Av. Dev. 比例<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="profit">利润<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="quotation.paymentInfo.total">报价<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="invoice.paymentInfo.total">发票<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="payment.paid">付款<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="payment.count">付款数<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable">

        </tbody>
    </table>
</div>
