<table   class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="7%">
        <col width="10%">
        <col width="10%">
        <col width="20%">

        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">

        <col width="10%">

        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
        <th class="oe_sortable" data-sort="number">编号<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="name">员工姓名<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="registerationdate">申请时间<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="date">出差时间<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="description">出差事由<span class="arrow down"></span><span
                class="arrow up"></span></th>      
        <th class="oe_sortable" data-sort="accommodationDay">住宿天数<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="diningNumber">就餐数<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="isapproved">状态<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="isapproved">是否申请单批准<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="isapproved-two">是否详情单批准<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="isafter">是否后补<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="createdBy">创建者<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="editedBy">编辑者<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>
