

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="55px">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="9%">
                    <col width="11%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >保证金类型</th>
                    <th>保证金编号</th>
                    <th>受款人</th>
                    <th>项目名称</th>
                    <th >金额</th>
                    <th >支付日期</th>
                    <th >当前状态</th>
                    <th >备注</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>