
<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="50px">
                    <col width="8%">
                    <col width="10%">
                    <col width="6%">
                    <col width="13%">
                    <col width="13%">
                    <col width="12%">
                    <col width="6%">
                    <col width="12%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >开票日期</th>
                    <th >发票号码</th>
                    <th >发票类型</th>
                    <th>付款单位</th>
                    <th>工程名称</th>
                    <th>开票金额</th>
                    <th>税率</th>
                    <th>税额</th>
                    <th>经办人</th>
                    <th>备案项目经理</th>
                    <th>修税状态</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>