<div class="_tableManualentryWrap">
    <h3 style="color: #2d3033;margin-bottom: 10px">工程名称：<%=pro.name%></h3>
    <div id="searchContainer"></div>
    <div >
        <table class="list stripedList">
            <colgroup>
                <col width="50px">
                <col width="15%">
                <col width="16%">
                <col width="16%">
                <col width="16%">
                <col width="16%">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>日期</th>
                <th>收入金额</th>
                <th>方式</th>
                <th>支出金额</th>
                <th>用途</th>
                <th>余额</th>
            </tr>
            </thead>
            <tbody id="listTable"></tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
