
<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="50px">
                    <col width="11%">
                    <col width="20%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>日期</th>
                    <th>摘要</th>
                    <th>借方金额(收入)</th>
                    <th>贷方金额(支出)</th>
                    <th>借方余额(结存)</th>
                    <th>到期日期</th>
                    <th>定存银行</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot id="summary" ></tfoot>
            </table>
        </div>
    </div>
</div>