<div class="form-holder">
    <fieldset>
        <div class="inner">
            <ul class="_btnsBlockFixed">

                <li class="right ">
                        <button id="editButton" class="btn slim" title="allocate">
                            <span class="">分配</span>
                        </button>
                         <button id="pickButton" class="btn slim" title="pick">
                            <span class="">领料</span>
                        </button>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div class="_templateInvoiceWrp">
                <div id="templateDiv" class="_templateDiv"></div>
                <div class="addingInfoWrp">
                    <div id="historyDiv" class="_pureTemplate"></div>
                    <div id="attachments" class="invoiceAttachments"></div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </fieldset>

    <div class="clearfix"></div>
</div>