<table class="list tableFixed _invoiceTable forSCU">
    <colgroup>
        <col width="5%">
        <col width="10%">
        <col width="25%">
        <col width="10%">
        <col width="10%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
   
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader ">
        <th>序号</th>
        <th>材料</th>
        <th>参数(有颜色：两者参数相同部分)</th>
        <th style="text-align: left">已分配</th>
        <th style="text-align: left">已领料</th>
        <th style="text-align: left">入库单</th>
        <th style="text-align: left">库位</th>
        <th style="text-align: left">库存量</th>
        <th style="text-align: left">此次领料</th>
    </tr>
    </thead>
    <tbody id="productList"></tbody>
</table>

<div id="totalAmountContainer" class="_totalAmountContainer"></div>
