<div id="searchContainer"></div>
<div class="_tableLeadsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="10%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="12%">
            <col width="9%">
            <col width="9%">
            <col width="10%">
            <col width="10%">
            <col width="12%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th>标签</th>
            <th class="oe_sortable" data-sort="priority">优先权<span class="arrow down"></span><span
                    class="arrow up"></span></th>

            <!-- <th class="oe_sortable" data-sort="contactName">Contact Name<span class="arrow down"></span><span
                     class="arrow up"></span></th>-->
            <!--            <th class="oe_sortable" data-sort="email">Email<span class="arrow down"></span><span
                                class="arrow up"></span></th>-->
             <!-- <th class="oe_sortable" data-sort="social.LI">Linkedin<span class="arrow down"></span><span
                     class="arrow up"></span></th>
             <th class="oe_sortable" data-sort="address.country">Country<span class="arrow down"></span><span
                     class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="source">来源<span class="arrow down"></span><span
                    class="arrow up"></span></th> -->
            <th class="oe_sortable" data-sort="workflow.name">状态<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="isComproject">是否公司项目<span class="arrow down"></span>
            <span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="customer.name.first">建设单位<span class="arrow down"></span><span
                        class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="regDepart">登记部门<span class="arrow down"></span><span
                        class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="proManager">项目经理<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="transactor">经办人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!-- <th class="oe_sortable" data-sort="bidDepartment">投标申请部门<span class="arrow down"></span><span
                    class="arrow up"></span></th> -->
            <th class="oe_sortable" data-sort="isBid">是否投标工程<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">编辑日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>