<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
        <th class="oe_sortable" data-sort="name">奖金<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="bonusType">类型<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="value">奖金数目<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="isPercent">是否按百分制<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>
