<div class="form-holder task-create-holder" >
    <form method="post" action="" id="createColorNumberForm" class="form notDialog">
        <fieldset>
            <div class="clearfix"></div>
            <div class="topInputHolder">
                <h2>新建色号</h2>
            </div>
                   
            <div class="half-block left withPaddingRightProject">
                <div class="inner">
                    <div class="task-info">

                        <dt>
                            <label>工程名称</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="projectId"
                                   class="current-selected"
                                   href="javascript:;">选择
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
            <div class="half-block left withPaddingRightProject">
                <div class="inner">
                    <div class="task-info">
                        
                        <dt>
                            <label for="colorNumber">色号</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="colorNumber"
                                   id="colorNumber"
                                   placeholder="色号"/>
                        </dd>

                    </div>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>
