<div id="searchContainer"></div>
<div class="_tableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th>序号</th>
            <th class="oe_sortable" data-sort="goodsOutNote.name">发货单号<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shipDate">实际发货日期<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="goodsOutNote.load">装货地点<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="goodsOutNote.unload">卸货地点<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="trips">车次<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="numOfBarCodes">发货量<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="cancelNum">退货数<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="area">面积<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="price">金额<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable centerCell" data-sort="status">审核<span class="arrow down"></span><span class="arrow up"></span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>