

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="55px">
                    <col width="15%">
                    <col width="10%">
                    <col width="8%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="7%">
                    <col width="8%">
                    <col width="10%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >项目名称</th>
                    <th >项目经理</th>
                    <th >申请日期</th>
                    <th >金额</th>
                    <th >现金交入</th>
                    <th >工程扣除</th>
                    <th >未收到数额</th>
                    <th >是否签订借款协议</th>
                    <th >状态</th>
                    <th >备注</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>