
<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="55px">
                    <col width="8%">
                    <col width="12%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>保证金编号</th>
                    <th>建设单位</th>
                    <th>申请日期</th>
                    <th>支付金额</th>
                    <th>付款方式</th>
                    <th>经办人</th>
                    <th>项目经理交入金额</th>
                    <th>状态</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>