
<div id="searchContainer"></div>
<div class="_tableProcessDetailsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="25%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="25%">
            <col width="15%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workNumber">制造令号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="completePercent">完成百分比<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="checked">已审核<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="projectDepCost">本月向项目部收费<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="processCost">本月应付员工加工费<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="operator">发布人<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>