<div id="projectPM">
    <div class="projectInProgress">
        <div>
            <h2>工程</h2>
            <table class="list task-list">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="oe_sortable" data-sort="salesmanager.name.first">销售经理<span class="arrow down"></span><span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="name">工程名称<span class="arrow down"></span><span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="revenueSum">收入<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="costSum">成本<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="profitSum">利润<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="hoursSum">工时<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="markUp">加成<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="radio">边际利润<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="minDate">最短工期<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                    <th class="oe_sortable" data-sort="maxDate">最长工期<span class="arrow down"></span>
                    <span
                            class="arrow up"></span></th>
                </tr>
                </thead>
                <tbody id="tableProjectPMContent" class="enableTableOdd">

                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="hidden">-->
    <!--<div>-->
    <!--<h2>Project Status</h2>-->
    <!--<table id="projectStatus">-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="forInfo">-->
    <!--<div id="projectEndTW">-->
    <!--<h2>Project End This Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<div id="projectEndNW" class="hidden">-->
    <!--<h2>Project End Next Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<div id="projectEndN2W" class="hidden">-->
    <!--<h2>Project End Next Next 2 Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>
