<div class="_tableProjectsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="55px">
            <col width="9%">
            <col width="9%">
            <col width="9%">
            <col width="9%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="10%">
            <col width="8%">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>合同类型</th>
            <th>工程名称</th>
            <th>设计时间</th>
            <th>合同金额</th>
            <th>应收款</th>
            <th>已到账</th>
            <th>设计部门</th>
            <th>设计负责人</th>
            <th>合同编号</th>
            <th>查看设计合同</th>

        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
