<h3><!--<%=contentType%>-->采购付款</h3>
<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim plus" title="Create" id="top-bar-createBtn">新增</a>
    <a href="javascript:;" class="btn blue slim" title="Edit" id="top-bar-editBtn">编辑</a>
    <a href="javascript:;" class="btn blue slim" title="Save" id="top-bar-saveBtn">保存</a>
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">删除</a>
    <!--<a href="javascript:;" class="fa fa-times" title="Remove"  id="top-bar-deleteBtn"></a>-->
</div>
