<div id="searchContainer"></div>
<div class="_tableWrap _tableOrderList">
    <table class="list  stripedList order-list">
        <colgroup>
            <col width="50px">
            <col width="50px">
            <col width="400px">
            <col width="400px">
            <col width="200px">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th style="text-align:center">序号</th>
            <th style="text-align:center">编码</th>
            <th style="text-align:center">名称</th>
            <th style="text-align:center">状态</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>