
<div id="searchContainer"></div>
<div class="_tableChargeItemsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="30%">
            <col width="30%">
            <col width="25%">
            <col width="15%">
            <col width="30%">
            <col width="25%">
            <col width="25%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="customer">客户<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="contractNum">合同编号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="contactName">联系人<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shipAddress">发货地址<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="orderDate">合同签订日<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="expectDate">预计完成时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>