<div>
    <div id="searchContainer"></div>
    <div class="_tableOpportunitiesWrap">
        <table class="list stripedList">
            <colgroup>
                <col width="42px">
                <col width="19%">
                <!-- <col width="15%"> -->
                <col width="16%">
                <!-- <col width="17%"> -->
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="17%">
                <!-- <col width="25%"> -->
                <col width="18%">
            </colgroup>
            <thead>
            <tr>
                <th class="centerCell">
                    <input type="checkbox" id="checkAll"/></th>
                <!-- <th class="oe_sortable" data-sort="creationDate">Creation Date<span class="arrow down"></span><span
                         class="arrow up"></span></th>-->
                <th class="oe_sortable" data-sort="name">工程名称<span class="arrow down"></span><span
                        class="arrow up"></span>
                </th>
                <!-- <th class="oe_sortable" data-sort="expectedRevenue.value">预期收入<span
                        class="arrow down"></span><span class="arrow up"></span></th> -->
                <!-- <th class="oe_sortable" data-sort="customer.name.first">客户名称<span class="arrow down"></span><span
                        class="arrow up"></span></th> -->
                <th class="oe_sortable" data-sort="customer.name.first">建设单位<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <!-- <th class="oe_sortable" data-sort="nextAction.date">截止日期<span class="arrow down"></span><span
                        class="arrow up"></span></th> -->
                <th class="oe_sortable" data-sort="workflow.name">状态<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="address.street">工程地址<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="biderDate">投标日期<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="openDate">开标日期<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="leadDate.retDate">合同退保证金日期<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <!-- <th class="oe_sortable" data-sort="salesPerson.name.first">业务员<span
                        class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="archPerson.name.first">归档员<span
                        class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="archNumber">归档数量<span class="arrow down"></span><span
                        class="arrow up"></span></th> -->
                <!-- <th class="oe_sortable" data-sort="archerDate.winDate">中标日期<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable sortDn" data-sort="archerDate.archDate">归档日期<span class="arrow down"></span><span
                        class="arrow up"></span></th> -->
                <th class="oe_sortable sortDn" data-sort="editedBy.date">编辑时间<span class="arrow down"></span><span
                        class="arrow up"></span></th>
            </tr>
            </thead>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>