<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">新增</h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock">
                <div class="_animateSelectBox">
                    <span class="_selectTitle">姓名</span>
                    <div class="_newSelectListWrap">
                        <a id="personDd"
                           data-id=""
                           class="current-selected"
                           href="javascript:;">
                        </a>
                    </div>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="scale"
                           required
                           maxlength="250"/>
                    <label class="_animate">比例(%)</label>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="deductions"
                           required
                           maxlength="250"/>
                    <label class="_animate">扣款</label>
                </div>
            </div>
        </div>
    </form>
</div>