<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">编辑 - <%=person.name.name.first+person.name.name.last%></h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="scale"
                           required
                           maxlength="250" value="<%=person.scale%>"/>
                    <label class="_animate">比例(%)</label>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="deductions"
                           maxlength="250" value="<%=person.deductions%>"/>
                    <label class="_animate">扣款</label>
                </div>
            </div>
        </div>
    </form>
</div>