<table id="listTable">
    <% collection.forEach(function(item, index){ %>
    <tr class="compactView" data-id="<%=item._id%>">
        <td class="checkboxRow">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=item._id%>" class="checkbox"/>
                <span></span>
            </label>
        </td>
        <td>
            <div class="compactRowWrap">
                <div class="compactRow">
                    <div class="project.name"><%=item.project ? item.project.name : ''%></div>
                </div>
                <div class="compactRow">
                    <div class="project.biderDate"><%= common.utcDateToLocaleDate(item.project.biderDate) || '' %></div>
                </div>
        <td></td>
            </div>
        </td>
    </tr>
    <% }) %>
</table>