<div id="searchContainer"></div>
<div class="_tableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="5%">
            <col width="9%">
            <col width="10%">
            <col width="10%">
            <col width="8%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="8%">

        </colgroup>
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="serialNumber">序号<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shippingNote.ID">发货单号<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shippingNote.shipDate">发货日期<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="deliverMan">运输方<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="square">面积<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="totalSum">总额<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shippingNote.fee">运费<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="shippingNote.fee1">安全承担费<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="remark">备注<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="type">发货单类别<span class="arrow down"></span><span class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>