<div id="searchContainer"></div>
<div class="_tableWrap _tableOrderList">
    <table class="list  stripedList order-list">
        <colgroup>
            <col width="50px">
            <col width="16%">
            <col width="16%">
            <col width="16%">
            <col width="16%">
            <col width="16%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th style="text-align:center">领料单</th>
            <th style="text-align:center">工程</th>
            <th style="text-align:center">已分配</th>
            <th style="text-align:center">已领料</th>
            <th style="text-align:center">状态</th>
            <th style="text-align:center">创建日期</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>