<div class="form-holder Certificate-create-holder"> 
    <form method="post" action="" id="createCertificateForm" class="form">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs">
                    <li>
                        <a href="javascript:;" class="active">主要内容</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="">文件上传</a>
                    </li>
                </ul>
                <div class="dialog-tabs-items">
                  <div class="dialog-tabs-item active">

                            <div class="half-block left">
                                <dl class="opp-info">
                                  
                                    <dt><label for="certificateNumber">证书编号</label></dt>

                                    <dd class="_newSelectListWrap">
                                         <input type="text"
                                             id="certificateNumber"
                                             required
                                             maxlength="32"/>
                                              <label></label> 
                                    </dd>

                                    <dt><label for="certificateName">证书名字</label></dt>
                                    <dd class="_newSelectListWrap">
                                            <input type="text"
                                             id="certificateName"
                                             required
                                             maxlength="32"/>
                                              <label></label> 
                                    </dd>

                                    <dt><label for="genre">证书类别</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="genre"
                                             required
                                             maxlength="32"/>
                                              <label></label>  
                                    </dd>

                                    <dt><label for="name">持证人姓名</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="name"
                                             required
                                             maxlength="32"/>
                                              <label></label>  
                                    </dd>

                                    <dt><label for="ID">持证人身份证号</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="ID"
                                             required
                                             maxlength="32"/>
                                              <label></label>  
                                    </dd>

                                    <dt><label for="phone">持证人联系方式</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="phone"
                                             required
                                             maxlength="32"/>
                                              <label></label>  
                                    </dd>

                                    <dt>
                                        <label for="receiptDate">领证日期</label>
                                    </dt>
                                    <dd class="_inputIconWrap">
                                            <input class="receiptDate"
                                                   type="text"
                                                   name="receiptDate"
                                                   id="receiptDate"  
                                                   placeholder="领证日期"/>
                                            <label></label>
                                    </dd>

                                    <dt>
                                        <label for="startDate">发证日期</label>
                                    </dt>
                                     <dd class="_inputIconWrap">
                                            <input class="extrainfo"
                                                   type="text"
                                                   name="startDate"
                                                   id="startDate"
                                                   
                                                   placeholder="结束日期"/>
                                            <label></label>
                                    </dd>

                                </dl>
                            </div>
                            <div class="half-block left">
                                <dl class="opp-info">
                                        <dt><label for="issuer">发证机关</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="issuer"
                                             required
                                             maxlength="32"
                                             placeholder="发证机关"/>
                                              <label></label> 
                                    </dd>
                                    <dt><label for="filedDate">存档日期</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="filedDate"
                                             required
                                             maxlength="32"
                                             placeholder="存档日期"/>
                                              <label></label>
                                    </dd>

                                    <dt><label for="validDate">到期日期</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="validDate"
                                             required
                                             maxlength="32"
                                             placeholder="到期日期"/>
                                              <label></label>
                                    </dd>

                                    <dt><label for="level">证书级别</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="level"
                                             required
                                             maxlength="32"
                                             placeholder="证书级别"/>
                                              <label></label>
                                    </dd>

                                    <dt><label for="remark">备注</label></dt>
                                    <dd class="_inputIconWrap">
                                            <input type="text"
                                             id="remark"
                                             required
                                             maxlength="32"
                                             placeholder="备注"/>
                                              <label></label>
                                    </dd>
                                </dl>   
                            </div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="_modalList">
                            <div class="area_holder">
                             <textarea id="internalNotes" class="internal_Notes" placeholder="内部注释..." maxlength="500" class="opp-internal-create"></textarea>
                                <a href="javascript:;" class="attach_file">
                                    <span class="icon-attach"></span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="attach-container"></div>
                    </div>
                </div>
            </div>

            <div class="cropImages form" style="display:none;">
                <div class="formTitle">
                    <h3 class="left">Crop Images</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="image_input" style="float: left;margin-right: 20px;"></div>
                <img class="image_output"/>
                <div class="clearfix"></div>

                <div class="clearfix"></div>
                <div class="big-pic form" style="display:none;">
                    <img class="image_output" style="max-width: 100%;" />
                </div>
            </div>

            
        </fieldset>
    </form>
</div>
