<h3>证书管理</h3>
<div class="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim plus" title="Create" id="top-bar-createBtn">新增</a>
    <a href="javascript:;" class="btn blue slim" title="borrow" id="top-bar-borrowBtn">借</a>
    <a href="javascript:;" class="btn blue slim" title="return" id="top-bar-returnBtn">还</a>
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">删除</a>
    <a href="javascript:;" class="btn blue slim" title="borrowAll" id="top-bar-borrowAllBtn">借所有</a>
    <a href="javascript:;" class="btn blue slim" title='watchAll' id="top-bar-watchAllBtn">所有历史记录</a>
</div>
