<div id="searchContainer"></div>
<div class="_tableJobPositionWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="11%">
            <col width="10%">
            <col width="11%">
            <col width="11%">
            <col width="15%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">岗位名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="department">部门<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="totalForecastedEmployees">总预估<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="numberOfEmployees">当前人数<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="expectedRecruitment">预计招聘<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workflow">状态<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="createdBy.date">创建<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">编辑<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>