<div class="form-holder" style="margin-bottom: 0px;">
    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <div class="clearfix"></div>
            <div class="topInputHolder">
                <h2>建材厂工程</h2>
            </div>
           
            <div class="half-block left">
                <div class="inner">
                    <dl class="task-info">
                        
                        <dt>
                            <label>工程名称</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="name"
                                   id="name"
                                   placeholder="工程名称"/>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="half-block right">
                <div class="inner">
                    <dl class="task-info">

                        <dt>
                            <label for="customerId">客户</label>
                        </dt>
                        <div class="_modalList">
                            <div class="_modalSelect _newSelectListWrap">
                                <a id="customerId" class="current-selected" href="javascript:;">选择</a>
                            </div>
                        </div>

                        <dt>
                            <label for="projectManager">项目经理</label>
                        </dt>
                        <dd>
                            <input type="text"
                                   maxlength="30"
                                   name="projectManager"
                                   id="projectManager"
                                   placeholder="项目经理"/>
                        </dd>

                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>