<div id="searchContainer"></div>
<div class="_tableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">工程名称<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="quality">质量目标<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="issArea">面积(m²)<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="amount">造价(万元)<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="StartDate">开工日期<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="EndDate">竣工日期<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="pmr">项目经理<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="pmv">备案项目经理<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="technicalPerson">备案技术负责人<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="cancelDate">取消日期<span class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="fileStatus">资料状况<span class="arrow down"></span><span class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>