<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">New <%=title%></h4>
        <div class="_formWrap _enlargedItemMargin" id="location">
            <div class="_formBlock _equal">
                <div class="_animateInputBox _withSeparator">
                    <input type="text"
                           class="_animate "
                           id="A"
                           required
                           autofocus
                           maxlength="20"/>
                    <label class="_animate">库位1</label>
                    <span class="_locationSeparator">/</span>
                </div>
                <div class="_animateInputBox _withSeparator">
                    <input type="text"
                           class="_animate "
                           id="B"
                           required
                           disabled
                           maxlength="20"/>
                    <label class="_animate">库位2</label>
                    <span class="_locationSeparator">/</span>
                </div>
                <div class="_animateInputBox _withSeparator">
                    <input type="text"
                           class="_animate "
                           id="C"
                           required
                           disabled
                           maxlength="20"/>
                    <label class="_animate">库位3</label>
                    <span class="_locationSeparator">/</span>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="D"
                           required
                           disabled
                           maxlength="20"/>
                    <label class="_animate">库位4</label>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateSelectBox">
                    <span class="_selectTitle">区域</span>
                    <div class="_newSelectListWrap">
                        <a id="zones"
                           name="account"
                           class="current-selected"
                           href="javascript:;">选择区域
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
