<div class="form-holder _departmentExteral">
    <form method="post" action="" class="form" id="invoiceForm">
        <h3 class="_dialogTableTitle">编辑</h3>
          <div class="half-block left">
            <div>
              <dt><label for="employeesDd">姓名: </label></dt>
              <dd class = "_newSelectListWrap">
                <a id="employeesDd" data-id="<%=model.employee._id%>" class = "current-selected" href = "javascript:;"><%=model.employee.name? (model.employee.name.first+model.employee.name.last): '选择'%></a>
              </dd>
            </div>
          </div>
          <div class="half-block right">
            <div>
              <dt><label for="point">工分: </label></dt>
              <dd class = "_inputIconWrap">
                <input id="point" type="text" value="<%=model.point%>">
              </dd>
          </div>
          </div>
    </form>
</div>
