
<div id="searchContainer"></div>
<div class="_tableChargeItemsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="20%">
            <col width="14%">
            <col width="14%">
            <col width="11%">
            <col width="11%">
            <col width="14%">
            <col width="14%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectName">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workNumber">制造令号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="processContent">加工内容<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="price">单价(元)<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="employeeQuantity">加工数量<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="employeeName">员工姓名<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="reckonDate">计件日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>