<h3><%=contentHeader%></h3>
<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim plus" title="删除" id="top-bar-deleteBtn">删除</a>
    <a href="javascript:;" class="btn blue slim plus" title="原料入库" id="top-bar-rawsinBtn">原料入库</a>
    <a href="javascript:;" class="btn blue slim plus" title="原料出库" id="top-bar-rawsoutBtn">原料出库</a>
    <a href="javascript:;" class="btn blue slim plus" title="成品入库" id="top-bar-finishedinBtn">成品入库</a>
    <a href="javascript:;" class="btn blue slim plus" title="成品出库计划" id="top-bar-finishedoutBtn">成品出库计划</a>
    <a href="javascript:;" class="btn blue slim plus" title="上传" id="top-bar-uploadBtn">上传</a>
</div>