<h3>增值税开票</h3>

<div id="createBtnHolder" class="btnsBlock">
    <a href="#home/action-<%=contentType%>/Create" class="btn blue slim plus" title="Create" id="top-bar-createBtn">新建</a>
    <div class="grid-conatiner _attendateWrap">
        <div class="attendanceTop">
            <div class="pull-left" style="width: 200px">
            <span >
                开票类型选择:
            </span>
                <div class="editable" data-content="invoiceType" id="invoiceType" data-id="" ><span>--选择--</span>
                </div>
            </div>
        </div>
    </div>
</div>