<table class="list _projectTableLeftAlign tableFixed ">
    <colgroup>
        <col width="15%">
        <col width="20px">
        <col width="100px">
        <col width="100px">
        <col width="55%">
        <col width="100px">
        <col width="100px">
        <col width="35px">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader">
        <th class="width20" data-sort="Product">
            产品名称
        </th>
        <!--<th class="width25" data-sort="scheduledDate">
            Scheduled Date
        </th>--> <!--commented on 14 Mar, in quotationEdit commit -->
        <!--<% if (forSales) {%>
            <th class="width20" data-sort="hours">
                Hours
            </th>
        <% } else {%>
            <th class="width20" data-sort="quantity">
                Quantity
            </th>
        <% } %>-->
        <th></th>
        <th class="width20" data-sort="quantity">
            数量
        </th>
        <th class="width20" data-sort="unitPrice">
            单价
        </th>
        <th class="width20" data-sort="processingCharges">
            加工费
        </th>

        <th class="width20" data-sort="subtotal">
            附加
        </th>
        <th class="width20" data-sort="subtotal">
            小计
        </th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="productList">

    </tbody>
</table>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup">

</div>