<div id="top-bar-quotations" class="projectInfoTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="create">新建</a>
    </div>

</div>

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="3%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">


                </colgroup>
                <thead>
                <tr>
                    <th >ID</th>
                    <th >工程名称</th>
                    <th >项目经理</th>
                    <th >金额(元)</th>
                    <th >借款日期</th>
                    <th >预计还款日期</th>
                    <th >累计利息</th>
                    <th >录入人</th>
                    <th>审核状态</span></th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>