<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div id="payRoll-Table">
    <table class="list stripedList" id="payRoll-listTable">
        <colgroup>
            <col width="42px">
            <col width="15%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" class="totalRowCB" id="checkAll"/></th>
            <th>月份</th>
            <th>应发</th>
            <th>已付</th>
            <th>差额</th>
            <th class="centerCell">状态</th>
            <th>日期</th>
        </tr>
        </thead>
        <tbody id="payRoll-TableBody"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>

