﻿<div class="form-holder task-create-holder">
    <form method="post" action="" id="editTaskForm" class="form" data-id="<%=model._id%>">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">主要内容</a></li>
                <li><a href="javascript:;">付款相关选项</a></li>
                <li><a href="javascript:;">相关责任</a></li>
                <li><a href="javascript:;">质量要求&备注</a></li>
                <li><a href="javascript:;">文件上传</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">
                    <div class="half-block left withPaddingLeft">
                        <div class="inner">
                            <div class="task-info">
                                <dt>
                                    <label>工程名称:</label>
                                </dt>
                                <dd  >
                                    <p id="projectDd" data-shortdesc="<%=model.project.projectShortDesc%>" data-id="<%=model.project._id%>"  href="javascript:;" ><%=model.project.name%></p>
                                </dd>
                                <dt><label for="workflowsDd">阶段 </label></dt>
                                <dd class="_newSelectListWrap">
                                    <a id="workflowsDd" data-id="<%=(model.workflow) ? model.workflow._id : ''%>" class="current-selected" href="javascript:;"><%=(model.workflow)?model.workflow.name:'Undefinded'%></a>
                                </dd>
                                <dt><label>合同类型 </label></dt>
                                <dd >
                                    <input type="text" id="type"  value="外加工合同" style="border: none" readonly="true">
                                </dd>
                                <!--dt><label>建设单位 :</label></dt>
                                <dd class="_newSelectListWrap">
                                    <a id="customerDd" data-id="<%=(model.customer) ? model.customer._id : ''%>" class="current-selected" href="javascript:;">
                                        <%=(model.customer)?(model.customer.name.first+' '+model.customer.name.last):'Select'%></a></dd-->
                                <dt><label>项目经理 :</label></dt>
                                <dd>
                                    <input id="pmrDd" type="text" style="border: none" readonly="true" />
                                </dd>
                                <input id="pmrId" type="hidden">
                                <dt>
                                    <label for="supplier">供货商</label>
                                </dt>
                                <dd class="_newSelectListWrap">
                                    <a id="supplier" data-id="<%=(model.supplier) ? model.supplier._id : ''%>" class="current-selected" href="javascript:;">
                                        <%=(model.supplier)?(model.supplier.name.first+' '+model.supplier.name.last):'选择'%></a></dd-->
                                </dd>
                                <dt><label for="descriptions">工程简述</label></dt>
                                <dd><input type="text" name="logged" id="descriptions"   style="width: 280px;border: none" readonly="true" /></dd>
                            </div>
                        </div>
                    </div>
                    <div class="half-block left withPaddingRightProject">
                        <div class="inner">
                            <div class="task-info">
                                <dt><label for="signedDate">合同签订日期</label></dt>
                                <dd><input class="extrainfo blueback" type="text" name="signedDate" id="signedDate" value="<%= model.signedDate %>" readonly/></dd>
                                <dt><label for="proDate">供货日期</label></dt>
                                <dd><input class="extrainfo blueback" type="text" name="proDate" id="proDate" value="<%= model.proDate %>" readonly/></dd>
                                <dt><label for="taskAmount">合同金额</label></dt>
                                <dd><input class="onlyNumber"  type="text" name="logged" id="taskAmount" style="width: 80%" value="<%=model.taskAmount%>"/><i>万元</i></dd>
                                <dt><label>申请印章类别 </label></dt>
                                <dd class="_newSelectListWrap">
                                    <a id="sealType" data-id="<%=model.sealType?model.sealType.id:''%>" class="current-selected" href="javascript:;"><%=(model.sealType)?model.sealType.name:'选择' %></a>
                                </dd>
                                <!--dt><label for="fujian" >工程量</label></dt>
                                <dd id="fujian"><a style="font-size:14px">查看</a></dd>
                                <!--dt><label for="summaryEdit">总量</label></dt><dd>
                                <input type="text" name="summary"  id="summaryEdit" value="<%=model.summary%>" required /></dd-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt><label for="payTerm">付款方式</label></dt>
                            <dd><input   type="text" name="payTerm" id="payTerm" value="<%=model.payTerm%>"/></dd>
                            <dt><label for="payProp">付款比例</label></dt>
                            <dd><input  maxlength="4" type="text" name="payProp" id="payProp" style="width: 90%" value="<%=model.payProp%>"/><i>%</i></dd>
                            <dt><label for="preAmount">预付款</label></dt>
                            <dd><input class="onlyNumber" type="text" name="preAmount" id="preAmount" style="width: 80%" value="<%=model.preAmount%>"/><i>万元</i></dd>
                            <dt><label for="preAmountType">预付款相关条件</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="preAmountType" data-id="<%=model.preAmountType?model.preAmountType.id:''%>" class="current-selected" href="javascript:;"><%=(model.preAmountType)? model.preAmountType.name:'选择'%></a>
                            </dd>
                        </div>
                    </div>
                    <div class="half-block left withPaddingLeftProject">
                        <div class="inner">
                            <dt><label for="paymentType">付款条件</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="paymentType" data-id="<%=model.paymentType?model.paymentType.id:''%>" class="current-selected" href="javascript:;"><%=(model.paymentType)?model.paymentType.name:'选择'%></a>
                            </dd>
                            <dt><label for="payType">所有附加条件</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="payType" data-id="<%=model.payType?model.payType.id:''%>" class="current-selected" href="javascript:;"><%=(model.payType)?model.payType.name:'选择'%></a>
                            </dd>
                            <dt><label for="carriage">运费选项</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="carriage" data-id="<%=model.carriage?model.carriage.id:''%>" class="current-selected" href="javascript:;"><%=(model.carriage)?model.carriage.name:'选择'%></a>
                            </dd>
                            <dt><label for="quota">限额选项</label></dt>
                            <dd class="_newSelectListWrap">
                                <a id="quota" data-id="<%=model.quota?model.quota.id:''%>" class="current-selected" href="javascript:;"><%=(model.quota)?model.quota.name:'选择'%></a>
                            </dd>
                        </div>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <dt>
                            <label for="respons">双方责任:</label>
                        </dt>
                        <textarea type="text" name="description" class="taskDescriptionEdit"  id="respons" required maxlength="500"><%=model.respons%> </textarea>
                        <dt>
                            <label for="violation">违约责任:</label>
                        </dt>
                        <textarea type="text" name="description" class="taskDescriptionEdit"  id="violation" required maxlength="500"><%=model.violation%> </textarea>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="inner">
                        <dt>
                            <label for="quality">质量要求:</label>
                        </dt>
                        <textarea type="text" name="quality" class="taskDescriptionEdit"  id="quality" required maxlength="500"><%=model.quality%> </textarea>
                        <dt>
                            <label for="note">备注:</label>
                        </dt>
                        <textarea type="text" name="description" class="taskDescriptionEdit"  id="note" required maxlength="500"><%=model.note%> </textarea>
                    </div>
                </div>
                <div class="dialog-tabs-item">
                    <div class="attachments"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
