<div class="form-holder settingsCertificate-create-holder"> 
    <form method="post" action="" id="createCertificateForm" class="form">
        <fieldset>
            <div class="inner">

                <div class="clearfix"></div>


                <div class="half-block left">
                    <dl class="opp-info">
                      
                        <dt><label for="name">印章名称</label></dt>

                        <dd class="_newSelectListWrap">
                             <input type="text"
                                 id="name"
                                 required
                                 maxlength="32"/>
                                  <label></label> 
                        </dd>

                        <dt><label for="stampsCode">印章代码</label></dt>

                        <dd class="_newSelectListWrap">
                             <input type="text"
                                 id="stampsCode"
                                 required
                                 maxlength="32"/>
                                  <label></label> 
                        </dd>

                        <dt><label for="type">印章类型</label></dt>

                        <dd class="_newSelectListWrap">
                             <input type="text"
                                 id="type"
                                 required
                                 maxlength="32"/>
                                  <label></label> 
                        </dd>

                        <dt><label for="approvalProcess">审批流程</label></dt>

                        <dd class="_newSelectListWrap">
                             <input type="text"
                                 id="approvalProcess"
                                 required
                                 maxlength="32"/>
                                  <label></label> 
                        </dd>
                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt><label for="startDate">启用时间</label></dt>
                        <dd class="_inputIconWrap">
                                <input type="text"
                                 id="startDate"
                                 required
                                 maxlength="32"
                                 placeholder="启用时间"/>
                                 <label></label> 
                        </dd>

                        <dt><label for="keeper">保管人</label></dt>
                        <dd class="_newSelectListWrap">
                            <a id="keeper"
                               class="current-selected"
                               href="javascript:;">选择
                            </a>
                        </dd>

                        <dt><label for="charger">经过人</label></dt>
                        <dd class="_newSelectListWrap">
                            <a id="charger"
                               class="current-selected"
                               href="javascript:;">选择
                            </a>
                        </dd>

                        <dt><label for="comment">备注</label></dt>
                        <dd class="_inputIconWrap">
                                <input type="text"
                                 id="comment"
                                 required
                                 maxlength="32"
                                 placeholder="级别"/>
                                  <label></label> 
                        </dd>

                    </dl>   
                </div>


            </div>
            <div class="attach-container"></div>
        </fieldset>
    </form>
</div>
