<h3>借款</h3>


<!--div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon-kanban <%= (viewType == 'kanban') ? 'selected' : ''%>"
               data-view-type="kanban" id="kanbanBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list5 <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn"></a></li>
    </ul>
</div-->
