
<div id="searchContainer"></div>
<div class="_tableOpportunitiesWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="barId" style="text-align: center;">条码编号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workCentre" style="text-align: center;">工序<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workGroup" style="text-align: center;">班组<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="scantime" style="text-align: center;">扫码时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="uploadtime" style="text-align: center;">上传时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="note" style="text-align: center;">备注<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>