<div id="chartContainer" class="chartContainer">
    <div class="invoiceChart-legend">
        <div class="choseDateItem">
            <button id="byMonth" class="active">月</button>
            <button id="byWeek">周</button>
        </div>
        <div class="legend-box clearfix">
            <div class="invoiced">
                <div class="square"></div>
                <div class="text">开发票</div>
            </div>
            <div class="paid">
                <div class="square"></div>
                <div class="text">付费</div>
            </div>
        </div>
    </div>
    <svg id="chart" style="height: 500px">

    </svg>
</div>
