<div class="form-holder _newForm productForm">
    <div class="_btnsBlockFixed">
        <a href="javascript:;"
           class="btn blue slim"
           title="Save"
           id="saveBtn">保存
        </a>
    </div>
    <form method="post"
          id="createEmployeeForm"
          class="_mainProductsForm form">
        <ul class="dialog-tabs" data-class="mainTabs">
            <li><a class="active" href="javascript:;">产品信息</a></li>
            <li id="picturesTab"><a href="javascript:;">图片</a></li>
            <li><a href="javascript:;">库存</a></li>
            <li><a href="javascript:;">价格</a></li>
            <li><a href="javascript:;">销售渠道</a></li>
            <% if (!product.isVariant) { %>
            <li><a href="javascript:;">创建选项</a></li>
            <% } else { %>
            <li><a href="javascript:;">编辑选项</a></li>
            <% } %>
            <% if (product.isBundle) { %>
            <li><a href="javascript:;">组装信息</a></li>
            <% } %>
        </ul>
        <div class="dialog-tabs-items mainTabs">
            <div class="dialog-tabs-item mainTabs active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">编辑<input type="file" value="Edit" id="inputImg"></div>
                            <canvas id="avatar" width="140" height="140">
                                <input type="file" value="Edit" id="File1">
                            </canvas>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="productName"
                                   value="<%= product.name || ''%>"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">产品名称</label>
                        </div>
                        <div class="_formRow">
                            <label class="_animatedCheckbox">
                                <input id="sold"
                                       type="checkbox"<% if (product.canBeSold) {%>
                                checked
                                <%}%> >
                                <span></span>
                            </label>
                            <label>可销售</label>
                        </div>
                        <div class="_formRow">
                            <label class="_animatedCheckbox">
                                <input id="expensed"
                                       type="checkbox"<% if (product.canBeExpensed) {%>
                                checked
                                <%}%> >
                                <span></span>
                            </label>
                            <label>可领用</label>
                        </div>
                        <div class="_formRow">
                            <label class="_animatedCheckbox">
                                <input id="purchased"
                                       type="checkbox" <% if (product.canBePurchased) {%>
                                checked
                                <%}%> >
                                <span></span>
                            </label>
                            <label>可采购</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">产品类型</span>
                            <div class="_newSelectListWrap">
                                <a id="productType"
                                   class="current-selected">选择产品类型</a>
                            </div>
                        </div>
                        <span class="_variantsLabel">产品分类:</span>
                        <div id="variantsCategoriesBlock" class="_variantsBlock">
                            <div class="_checkCategoriesWrap">
                                <ul id="checkedProductCategories" class="_checkCategories"></ul>
                                <span id="showBtn" class="_arrow"></span>
                            </div>
                            <ul id="productCategories" class="_categoriesList"></ul>
                        </div>
                        <div class="cropImages form" style="display:none;">
                            <div class="formTitle">
                                <h3 class="left">裁剪图片</h3>
                            </div>
                            <div class="image_input" style="float: left;margin-right: 20px;"></div>
                            <img class="image_output"/>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="SKU"
                                   value="<%= (product.info && product.info.SKU) ? product.info.SKU : ''%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">型号 / SKU</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="UPC"
                                   value="<%= (product.info && product.info.UPC) ? product.info.UPC : ''%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">UPC</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="ISBN"
                                   value="<%= (product.info && product.info.ISBN) ? product.info.ISBN : ''%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">ISBN</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="EAN"
                                   value="<%= (product.info && product.info.EAN) ? product.info.EAN : ''%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">EAN</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="weight"
                                   value="<%= (product.inventory && product.inventory.weight) ? product.inventory.weight : 0%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">重量(千克)
                                <!--
                                                                <div class="_smallText">(You can set start date only 1 time and this value cannot be changed)</div>
                                -->
                            </label>
                        </div>
                        <div class="_animateTextareaBox">
                            <textarea id="description"
                                      class="_animate"
                                      placeholder="Description. Max 500 symbols."
                                      maxlength="500"
                                      required><%= (product.info && product.info.description) ? product.info.description : ''%></textarea>
                            <label for="description" class="_animate">描述</label>
                        </div>
                    </div>
                </div>
                <div id="variantsTable" class="_variantsTableWrap clearfix"></div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_sliderWrap">
                    <div id="sliderBlock" class="_productSlider"></div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="mainMinStockLevel"
                                   value="<%= (product.inventory && product.inventory.minStockLevel) ? product.inventory.minStockLevel : ''%>"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">最低库存</label>
                        </div>
                        <% if(availabilities.length){ %>
                        <table class="stripedList">
                            <colgroup>
                                <col width="20%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>仓库</th>
                                <th>库存量</th>
                                <th>已执行</th>
                                <th>手头可用量</th>
                                <th>在途数量</th>
                                <th>库位</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% availabilities.forEach(function (availability){ %>
                            <tr>
                                <td>
                                    <span><%= availability.warehouse || ''%></span>
                                </td>
                                <td>
                                    <span><%= availability.onHand || 0%></span>
                                </td>
                                <td>
                                    <span><%= availability.allocated || 0%></span>
                                </td>
                                <td>
                                    <span><%= availability.available || 0%></span>
                                </td>
                                <td>
                                    <span><%= availability.incoming || 0%></span>
                                </td>
                                <td>
                                    <span><%= availability.location || ''%></span>
                                </td>
                            </tr>
                            <%})%>
                            </tbody>
                        </table>
                        <% } else { %>
                        <h5>此商品暂无库存，也没有采购订单</h5>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_formWrap">
                    <div class="_formBlock">
                        <div class=" left">
                            <ul class="dialog-tabs" data-class="subTabs">
                                <% var priceArray = [] %>
                                <% _.each(allPriceLists, function(priceList) { %>
                                <li>
                                    <a href="javascript:;">
                                        <% priceArray.push(priceList._id) %>
                                        <%= priceList.priceListCode %> <%=priceList.cost ? '(costs)' : ''%>
                                    </a>
                                </li>
                                <% }) %>
                            </ul>
                            <div class="dialog-tabs-items subTabs">
                                <% thisPriceArray = [] %>

                                <% _.each(product.pL, function(item) { %>
                                <% if (item.priceLists && item.priceLists._id) { %>
                                <% thisPriceArray.push(item.priceLists._id) %>
                                <% } %>
                                <% }) %>

                                <% _.each(priceArray, function(id) { %>
                                <% var index = thisPriceArray.indexOf(id) %>
                                <% if (index >= 0) { %>
                                <div data-id="<%= thisPriceArray[index] %>"
                                     class="dialog-tabs-item subTabs priceList">
                                    <div class="_priceBlockWrap">
                                        <p>数量分级计价:</p>
                                        <% var i = 1 %>
                                        <% _.each(product.pL[index].prices, function (item){ %>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>数量 <%= i %></dt>
                                                <dd>
                                                    <input type="text"
                                                           value="<%= i === 1 && !item.count ? 1 : item.count %>"
                                                           placeholder="count<%= i %>"
                                                           class="forNum productCount">
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>单价 <%= i %></dt>
                                                <dd>
                                                    <input type="text"
                                                           value="<%= item.price || 0 %>"
                                                           placeholder="price<%= i++ %>"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                        <% }) %>
                                    </div>
                                </div>
                                <% } else { %>
                                <div data-id="<%= id %>"
                                     class="dialog-tabs-item subTabs priceList">
                                    <div style="display: inline-block">
                                        <p>数量分级计价:</p>
                                        <% _.each([1,2,3,4,5], function (item){ %>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>数量 <%= item %></dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="count<%= item %>"
                                                           class="forNum productCount">
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>单价 <%= item %></dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price<%= item %>"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                        <% }) %>
                                    </div>
                                </div>
                                <% } %>
                                <% }); %>
                                <div class="half-block right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div id="publishTable"></div>
            </div>
            <% if (!product.isVariant) { %>
            <div class="dialog-tabs-item mainTabs">
                <div class="_createVariantsContainer">
                    <div class="_variantTable">
                        <div id="createdVariants"></div>
                    </div>
                    <div class="_variantOptions">
                        <label>产品选项</label>
                        <div id="creatingVariants" class="_creatingVariants"></div>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="dialog-tabs-item mainTabs">
                <ul class="dialog-tabs" data-class="createVariantsTabs">
                    <li><a class="active" href="javascript:;">创建选项</a></li>
                    <li><a href="javascript:;">创建SKU</a></li>
                    <li><a href="javascript:;">增加选项</a></li>
                </ul>
                <div class="dialog-tabs-items createVariantsTabs">
                    <div class="dialog-tabs-item createVariantsTabs active">
                        <div class="_editingVariantsContainer">
                            <div id="editedVariants"></div>
                            <div id="editingVariants" class="_editingVariants"></div>
                        </div>
                    </div>
                    <div class="dialog-tabs-item createVariantsTabs tabSKU"></div>
                    <div class="dialog-tabs-item createVariantsTabs tabAddOptions">
                        <p>未找到选项!</p>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (product.isBundle) {%>
            <div class="dialog-tabs-item mainTabs">
                <div class="half-block left">
                    <div class="searchContainer">
                        <span> 名称 | SKU</span>
                        <input type="text" id="searchProducts"/>
                        <button id="searchBtnEdit">搜索</button>
                        <ul id='productsForBundle'></ul>
                    </div>
                </div>
                <div class="half-block right">
                    <span>此产品</span>
                    <ul id='productsBundle' class="_productsBundle">
                        <% _.each(product.bundles, function (item) { %>
                        <div class="bundle" data-id="<%= item._id %>">
                            <input value="<%= item.name || item._id %>">
                            <input class="quantity"
                                   value="<%= item.quantity %>">
                            <span class="removeBundle icon-close3"></span>
                        </div>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </form>
</div>

