<div class="noteWrapper">
    <ul class="chart-tabs">
        <li><a class="active" id="noteTab" href="javascript:;">添加注释</a></li>
        <!-- <li><a href="javascript:;" id="taskTab" class="">创建一个任务</a></li> -->
    </ul>
    <div class="dialog-tabs-items">
        <div class="editorTab dialog-tabs-item active" id="note">
            <div class="addNote createHolder">
                <div class="area_holder">
                    <textarea id="noteArea" placeholder="添加注释" maxlength="500"></textarea>
                    <a href="javascript:;" class="attach_file">
                        <span class="icon-attach"></span>
                    </a>
                </div>
                <!-- <div>
                     <a class="addTitle" href="javascript:;">Add a title</a>
                 </div>

                 <div class="title-wrapper">
                     <label>Note Title</label>
                     <input type="text" id="noteTitleArea" value="" maxlength="64">
                 </div>-->

                <div class="buttons">
                    <buttom class="btn blue btnSave" id="addNote">
                        <span>保存</span>
                    </buttom>
                    <buttom class="btn cancelNote" id="cancelNote">
                        <span>取消</span>
                    </buttom>
                    <div class="clearfix">
                    </div>
                </div>
                <input type="hidden" id="getNoteKey" value="">
            </div>
        </div>

        <div class="editorTab dialog-tabs-item" id="task">
            <div class="addTask createHolder">
                <div class="addTaskTitle _addTaskTitleBlock">
                    <div class="_addTaskTitle">
                        <label>分配给</label>
                        <a  href="javascript:;"  class="current-selected" data-id="<%= assignedTo ? assignedTo._id : '' %>" id="assignedToDd"><%= assignedTo ? assignedTo.fullName : '选择' %></a>
                    </div>
                    <div id="categoryHolder" class="left"></div>
                    <div class="inputDateActonBlock">
                        <input type="text" id="timepickerOne" name="timepicker-one" class="timepicker" readonly/>
                        <input type="text" class="date _taskDueDate" id="taskDueDate"
                               value="<%= date %>" maxlength="32"
                               placeholder="Date" readonly/>
                    </div>
                </div>
                <div class="area_holder">
                    <textarea id="taskArea" class="taskArea personsTaskArea" placeholder="描述..." maxlength="500"></textarea>
                    <a href="javascript:;" class="attach_file">
                        <span class="icon-attach"></span>
                    </a>
                </div>
                <div class="buttons">
                    <span class="btn blue btnSave" id="addTask">保存</span>
                    <span class="btn" id="cancelTask">取消</span>
                </div>
            </div>
        </div>
    </div>

    <div id="timeline">
    </div>

</div>
