<div id="searchContainer"></div>
<div class="_tableWrap _tableGoodsOut">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name" style="text-align: center">入库单号</th>
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            <th class="oe_sortable" data-sort="building.name" style="text-align: center">工程名称</th>
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            <th class="oe_sortable" data-sort="warehouse.name" style="text-align: center">仓库</th>
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            <th class="oe_sortable" data-sort="" style="text-align: center">类型</th>
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            <th class="oe_sortable" data-sort="description" style="text-align: center">备注</th>
                <span class="arrow down"></span>
                <span class="arrow up"></span>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>