<div class="form-holder _departmentExteral">
    <form method="post" action="" class="form" id="invoiceForm">
        <h3 class="_dialogTableTitle">新增</h3>
        	<div class="half-block left">		
		        <div>
			        <dt><label for="name">名称: </label></dt>
			        <dd class = "_inputIconWrap">
			        	<input id="name" type="text">
			        </dd>
		        </div>
		        <div>
			        <dt><label for="price">金额: </label></dt>
			        <dd class = "_inputIconWrap">
			        	<input id="price" type="text">
			        </dd>
		        </div>
	        </div>
	        <div class="half-block right">
	        	<div>
			        <dt><label for="supplier">供应商: </label></dt>
			        <dd class="_newSelectListWrap">
                        <a id="supplier"
                           class="current-selected"
                           href="javascript:;">选择
                        </a>
                    </dd>
			    </div>
	        </div>
    </form>
</div>