<div class="_tableCostCenterWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="10%">
            <col width="9%">
            <col width="9%">
            <col width="12%">
            <col width="10%">
            <col width="10%">
            <col width="12%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="month">月<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="year">年<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hours">时<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!-- <th class="oe_sortable" data-sort="expenseCoefficient">ExpenseCoefficient<span
                     class="arrow down"></span><span
                     class="arrow up"></span></th>
             <th class="oe_sortable" data-sort="fixedExpense">FixedExpense<span class="arrow down"></span><span
                     class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="estimatedHours">估计时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="actualHours">实际时间<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="adminBudget">管理总预算<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="adminSalaryBudget">管理薪资预算<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="vacationBudget">假期预算<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="idleBudget">空闲时间预算<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="marketingBudget">市场预算<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="overheadRate">间接制造成本摊陪率<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>