<div id="searchContainer"></div>
<div class="_tableWrap _tablePurchasePaymentsWrap">
    <table class="list task-list stripedList">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="name">名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="order.name">订单<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedOn">日期<span class="arrow down"></span><span
              class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedById.login">操作员<span class="arrow down"></span><span
              class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedOn">状态<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>