<div id="checkSituationTable" class="_checkSituationTableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="43px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll_checkSituation" class="checkAll"/></th>
            <th class="oe_sortable">序号</th>
            <th class="oe_sortable" >工程名称</th>
            <th class="oe_sortable">检查日期</th>
            <th class="oe_sortable">检察人员</th>
            <th class="oe_sortable">审批状态</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>