<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell">
            <input type="checkbox" id="checkAll"/>
        </th>
        <th class="oe_sortable" data-sort="categoryTex">类别<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="number">序号<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="content">实施内容<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="profile">未达标处罚<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>