<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="50px">
                    <col width="33%">
                    <col width="33%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >工程名称</th>
                    <th >工程项目编号</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>