<div class="_editAllocateAll">
    <%if (!notEditable && forSales) {%>
    <span class="btn slim" id="allocateAll">全部分配</span>
    <span class="btn slim" id="unallocateAll">重置分配</span>
    <%}%>
    <% if(model.orderDate && model.workflow && model.workflow.status !== 'Done'){ %>
    <span class="btn slim" id="resetPrices" hidden>重置单价</span>
    <%}%>
</div>

<table class="list tableFixed _invoiceTable forSCU">
    <colgroup>
        <%if (expense){%>
        <col width="180px">
        <col width="120px">
        <col width="120px">
        <col width="70px">
        <col width="80px">
        <col width="80px">
        <col width="80px">
        <col width="30px">
        <%} else {%>
        <col width="70px">
        <col width="70px">
        <col width="70px">
        <col width="70px">
        <col width="70px">
        <col width="70px">
        <col width="70px" >
        <col width="100px">
        <col width="300px">
        <%}%>

    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader ">

        <th data-sort="description" style="text-align:left">
            品名
        </th>
        <th data-sort="quantity" style="text-align:left">
            数量
        </th>
        <th data-sort="unitPrice" style="text-align:left">
            单价
        </th>
        <th data-sort="priceQty" style="text-align:left">
            计价数量
        </th>
        <th data-sort="vicepriceQty" style="text-align:left">
            副计价数量
        </th>
        <th data-sort="vicePrice" style="text-align:left">
            副计量单价
        </th>
        <th data-sort="subtotal" style="text-align:left">
            总价
        </th>
        <th data-sort="product" style="text-align:left">
            产品名称
        </th>
        <th data-sort="parameters" style="text-align:left">
            参数
        </th>
    </tr>
    </thead>
    <tbody id="productList"></tbody>
</table>

<div id="totalAmountContainer" class="_totalAmountContainer"></div>
