
<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="50px">
                    <col width="6%">
                    <col width="10%">
                    <col width="5%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="5%">
                    <col width="7%">
                    <col width="7%">
                    <col width="7%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >日期</th>
                    <th >发票号码</th>
                    <th >发票类型</th>
                    <th >开票金额</th>
                    <th >开票依据</th>
                    <th >开票交税</th>
                    <th >开票税率</th>
                    <th >收款</th>
                    <th >已做销售</th>
                    <th >增值税额</th>
                    <th >销售提税</th>
                    <th >销售税率</th>
                    <th >结转成本</th>
                    <th >利润</th>
                    <th >利润比例%</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>