<style>
    td {
        font-size: 12px;
        border: 1px solid black; 
        border-bottom: 1px solid black !important;
        text-align: center !important;
    }
    th {
        font-size: 12px;
        font-weight: bold;
        border: 1px solid black;
        border-bottom: 1px solid black !important;
        text-align: center !important;
    }

    table {
    	border: 1px solid black;  
        width: 100%;  
        border-collapse:collapse; 
    }
</style>
<div class="tableFixedWrap shippingNote-list-wrap" id="shipping-list">
	<div id="item-list"></div>
	<div id="total-list"></div>
</div>