<!-- <div id="searchContainer"></div> -->
<% if (!goodsBarcodeCollection.length) { %>
<h2 class="notFoundItems">还未添加退货条码</h2>
<% }else{ %>
<div class="_tableAluveneerOrdersWrap" style="min-width: 1250px;">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <!-- <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="6%">   
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%"> -->
            <col width="10%">   
        </colgroup>
        <thead>
        <span>&nbsp;&nbsp;&nbsp;工程名称:  <%=goodsBarcodeCollection[0].projectId.name%> &nbsp;&nbsp;&nbsp;退货单号:  <%=goodsBarcodeCollection[0].orderNumber%></span>
        <tr>
            <th rowspan="2" class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th rowspan="2" class="centerCell">条码编号</th>
            <th rowspan="2" class="centerCell">铝板名称</th>
            <th rowspan="2" class="centerCell">铝板编号</th>
            <!-- <th rowspan="2" class="centerCell">是否异形</th>
            <th rowspan="2" class="centerCell">双曲面</th>
            <th rowspan="2" class="centerCell">三折及以上</th>
            <th rowspan="2" class="centerCell">长距离焊缝(mm)</th>
            <th rowspan ="2" class="centerCell">开槽长度(m)</th>
            <th rowspan="1" class="centerCell">W</th>
            <th rowspan="1" class="centerCell">L1</th>
            <th rowspan="1" class="centerCell">L2</th>
            <th rowspan="1" class="centerCell">L3</th>
            <th rowspan="1" class="centerCell">L4</th>
            <th rowspan="1" class="centerCell">L5</th>
            <th rowspan="1" class="centerCell">L6</th>
            <th rowspan ="2" class="centerCell">单位计价面积(㎡)</th>
            <th rowspan ="2" class="centerCell">加工色号</th>
            <th rowspan ="2" class="centerCell">加工图号</th> -->
            <th rowspan ="2" class="centerCell">仓库意见</th>            
            
        </tr>
        <!-- <tr id="caption">
            
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>
            <th class="centerCell">(mm)</th>            
            
        </tr> -->

        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
<% } %>