<div id="top-bar-checkSituation" class="checkSituationTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="createCheckSituation">新建</a>
        <a href="javascript:;" class="btn blue slim" title="Remove" id="removeCheckSituation">删除</a>
    </div>
</div>
<div id="checkSituationTable" class="_checkSituationTableWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="43px">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="checkAll_checkSituation" class="checkAll"/></th>
            <th class="oe_sortable">序号</span></th>
            <th class="oe_sortable" data-sort="inspectDate">检查日期<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="inspector">检察人员<span
                    class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" >审批状态</th>
        </tr>
        </thead>
        <tbody id="listTableCheckSituation"></tbody>
    </table>
</div>