<h3><%=contentType%></h3>
<div id="createBtnHolder" class="btnsBlock">
    <a href="#home/action-<%=contentType%>/Create" class="btn blue slim plus" title="Create" id="top-bar-createBtn">新建</a>
    <a href="javascript:;" class="btn blue slim" title="Edit" id="top-bar-editBtn">编辑</a>
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">删除</a>
<!--
    <a href="javascript:;" class="btn blue slim icon-download" title="Import" id="top-bar-importBtn"></a>
-->
    <span title="Export to csv" id="top-bar-exportToCsvBtn" class="btn slim">下载到Csv</span>
    <span href="javascript:;" title="Export to xlsx" id="top-bar-exportToXlsxBtn" class="btn slim">下载到Xlsx</span>
</div>
<div id="forImport"></div>
<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon-tiles2  dark <%= (viewType == 'thumbnails') ? 'selected' : ''%>"
               data-view-type="thumbnails" id="thumbBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list5 dark <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list2 <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn"></a></li>
    </ul>
</div>