<%var currencySymb = model.currency && model.currency._id ? model.currency._id.symbol : '$'%>
<%var shipping = model.sourceDocument ?  model.sourceDocument.shippingExpenses : model.shippingExpenses;%>

<div class="_invoiceTemplate">

    <div class="ribbon">
        <div class="ribbon-inner <%=(model.workflow) ? model.workflow.name === 'Paid' ? 'ribbon-green' : model.workflow.name === 'Partially Paid' ? 'ribbon-blue' : 'ribbon-grey' : 'ribbon-grey'%>"><%=(model.workflow) ? model.workflow.name : ''%></div>
    </div>
    <div class="extractPdf">
        <div class="_templateHeader">
            <% if (App && App.organizationSettings) {%>
            <div class="_headerLeftPart">
                <div class="_orgName"><b><%=App.organizationSettings.name%></b></div>
                <div class="_orgLabel"><%=addressMaker(App.organizationSettings.address)%></div>
            </div>
            <% } %>
            <div class="_headerRightPart">
                <div class="_entityBlock">
                    <div class="_entityTitle">发票</div>
                    <div class="_entityNumber"><b><%=model.name || ''%></b></div>
                </div>
                <div class="_balanceBlock">
                    <div class="_balanceTitle"><b>金额</b></div>
                    <div class="_balanceValue"><b><%=(model.paymentInfo) ? currencySplitter(model.paymentInfo.balance) : ''%> </b></div>
                </div>
            </div>
        </div>
        <div class="_templateDateBlock">
            <div class="_rightPart">
                <table class="_templateDateTable tableFixed">
                    <colgroup>
                        <col width="60%">
                        <col width="40%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="_dateLeftPart">
                            <div class="_billingBlock">
                                <div class="_billingTitle">单位</div>
                                <div class="_billingCustomerName"><%=(model.supplier && model.supplier.name)?model.supplier.name.first + ' ' + model.supplier.name.last:""%></div>
                            </div>
                        </td>
                        <td class="_dateRightPart">
                            <table class="tableFixed">
                                <colgroup>
                                    <col width="100%">
                                    <col width="100px">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>发票日期 :</td>
                                    <td><%=moment(model.invoiceDate).format('YYYY-MM-DD')%></td>
                                </tr>
                                <% if (model.paymentTerms) {%>
                                <tr>
                                    <td>条款 :</td>
                                    <td><%=(model.paymentTerms)  ? model.paymentTerms.name : ''%></td>
                                </tr>
                                <% } %>
                                <% if (model.dueDate) {%>
                                <tr>
                                    <td>到期日 :</td>
                                    <td><%=moment(model.dueDate).format('YYYY-MM-DD')%></td>
                                </tr>
                                <% } %>
                                <tr>
                                    <td>订单号 :</td>
                                    <td><%=(model.sourceDocument) ? model.sourceDocument.name : ''%></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table class="_templateTable tableFixed">
            <colgroup>
                <col width="30px">
                <col width="50%">
                <col width="50%">
                <col width="40px">
                <col width="70px">
                <col width="80px">
                <col width="100px">
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>产品名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>税款</th>
                <th>金额</th>
            </tr>
            </thead>
            <tbody>
            <% model.products.forEach(function(product, index){ %>
            <tr>
                <td><%=index + 1%></td>
                <td>
                    <%if (product.product) {%>
                    <span><%=product.product.info ? product.product.info.SKU : product.product ? product.product && product.product.name : ''  %></span>
                    <% } else {%>
                    <span><%=model.shippingMethod ? model.shippingMethod.name : 'Shipments'%></span>
                    <% } %>
                </td>

                <td>
                    <%if (product.product) {%>
                    <div><%=product && product.description ? product.description : product.product.name %></div>
                    <% } %>
                </td>
                <td><%=product.quantity || ''%></td>
                <td><%=product.unitPrice ? currencySplitter(product.unitPrice.toString()): ''%></td>
                <td><%=product.totalTaxes ? currencySplitter(product.totalTaxes.toString()): '0.00'%></td>
                <td><%=product.subTotal ? currencySplitter(product.subTotal.toString()): ''%></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <table class="_templateTableFooter tableFixed">
            <colgroup>
                <col width="100%">
                <col width="100px">
            </colgroup>
            <tbody>
            <tr>
                <td>小计</td>
                <td><%=(model.paymentInfo) ? (model.paymentInfo.unTaxed - (shipping.amount / 100) || 0).toFixed(2) : '0.00'%></td>
            </tr>
            <%if (shipping && shipping.amount) {%>
            <td>运输</td>
            <td><%=currencySplitter((shipping.amount / 100).toFixed(2))%>
            </td>
            <%}%>
            <% if ( model.paymentInfo.discount) {%>
            <td> 折扣</td>
            <td>(-)<%=(model.paymentInfo && model.paymentInfo.discount) ?  currencySplitter((model.paymentInfo.discount/100).toFixed(2))  : '0.00'%></td>
            </tr>
            <% } %>
            <tr>
                <td>税款</td>
                <td><%=(model.paymentInfo) ? model.paymentInfo.taxes  : '0.00'%></td>
            </tr>
            <tr class="_totalRow">
                <td><b>总计</b></td>
                <td><b><%=(model.paymentInfo) ? currencySplitter(model.paymentInfo.total) : ''%></b></td>
            </tr>
            <% if (model && model.paymentInfo && model.paymentInfo.total !== model.paymentInfo.balance) {%>
            <td>已付金额</td>
            <td><%=currencySplitter(((model.paymentInfo.total - model.paymentInfo.balance).toFixed(2)).toString())%></td>
            </tr>
            <% } %>
            <tr class="_balanceRow">
                <td><b>金额</b></td>
                <td><b><%=(model.paymentInfo) ? currencySplitter(model.paymentInfo.balance) : ''%></b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="_templatePaymentInfo">
        <table class="templateBottomTable tableFixed">
            <colgroup>
                <col width="80px">
                <col width="120px">
                <col width="135px">
            </colgroup>
            <thead>
            <tr>
                <th><b>支付细节</b></th>
                <th></th>
                <th><b>其它信息</b></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><p>收款人姓名</p></td>
                <td><p><%=model.paymentMethod ? model.paymentMethod.owner : ''%></p></td>
                <td rowspan="5">
                    <p><%=App.organizationSettings ? App.organizationSettings.contactName :
                        ''%></p>
                    <p><%=App.organizationSettings ? App.organizationSettings.address.phone :
                        ''%></p>
                    <p><%=App.organizationSettings ? App.organizationSettings.website :
                        ''%></p>
                    <p><%=App.organizationSettings && App.organizationSettings.contact &&
                        App.organizationSettings.contact.email && App.organizationSettings.contact ?
                        App.organizationSettings.contact.email : 'info@thinkmobiles.com'%></p>
                </td>
            </tr>
            <tr>
                <td><p>银行</p></td>
                <td><p><%=model.paymentMethod ? model.paymentMethod.bank : ''%></p></td>
            </tr>
            <tr>
                <td><p>银行地址</p></td>
                <td><p><%=model.paymentMethod ? model.paymentMethod.address : ''%></p></td>
            </tr>
            <tr>
                <td><p>IBAN</p></td>
                <td><p><%=model.paymentMethod ? model.paymentMethod.account : ''%></p></td>
            </tr>
            <tr>
                <td><p>SWIFT</p></td>
                <td><p><%=model.paymentMethod ? model.paymentMethod.swiftCode : ''%></p></td>
            </tr>
            </tbody>
        </table>
        <p>
            <span class="red">亲爱的客户，服务总额不包括银行费用，付款时请注意！</span>
        </p>
        <p class="_noticeText">
            <b>付款应通过银行转账或支票支付到以下地址：<%=App.organizationSettings ?
                App.organizationSettings.contactName.toUpperCase() :
                '无'%></b>.
        </p>
    </div>
    <!--<div class="notes">
        <div class="head">Notes</div>
        <div>Thanks for your business</div>
    </div>-->

</div>