<div id="top-bar-quotations" class="projectInfoTopBar">
    <div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="icon-plus btn blue slim" title="Create" id="create">新建</a>
    </div>
</div>

<div class="dialog-tabs-items">
    <div class="dialog-tabs-item active">
        <div id="searchContainer"></div>
        <div >
            <table class="list stripedList">
                <colgroup>
                    <col width="52px">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th >序号</th>
                    <th >税种名称</th>
                    <th>顺序</th>
                    <th >默认税率(%)</th>
                    <th >计税依据</th>
                    <th >扣款状态</th>
                </tr>
                </thead>
                <tbody id="listTable"></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>