
<div id="searchContainer"></div>
<div class="_tableOpportunitiesWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="25%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
 
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <input type="checkbox" id="checkAll"/>
            </th>
            <th class="oe_sortable" data-sort="projectId" style="text-align: center;">工程名称<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="orderNumber" style="text-align: center;">订单编号<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="produceType" style="text-align: center;">生产类型<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="sequence" style="text-align: center;">生产序列<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="completionRate" style="text-align: center;">当天完成率<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="totalProgress" style="text-align: center;">总进度<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>