<div id="searchContainer"></div>
<div class="_tableWrap _tableGoodsOut">
    <table class="list listDep stripedList">
        <colgroup>
            <col width="42px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="100px">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th style="text-align:center">序号</th>
            <th style="text-align:center">姓名</th>
            <th style="text-align:center">年份</th>
            <th style="text-align:center">保底年薪</th>
            <th style="text-align:center">基本工资</th>
            <th style="text-align:center">额定出勤</th>
            <th style="text-align:center">有效出勤</th>
            <th style="text-align:center">已发工资</th>
            <th style="text-align:center">提成金额</th>
            <th style="text-align:center">工奖金额</th>
            <th style="text-align:center">余额</th>
            <th style="text-align:center">备注</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>