
<div class="form-holder task-create-holder">
    <form method="post" action="" id="editTaskForm" class="form" data-id="<%=model._id%>">
        <fieldset>
            <ul class="dialog-tabs">
                <li><a class="active" href="javascript:;">税金情况</a></li>

            </ul>
            <div class="clearfix"></div>
            <div class="dialog-tabs-items">
                <div class="dialog-tabs-item active">

                    <div class="inner">
                        <div class="task-info">
                            <table class="list">
                                <colgroup>
                                    <col width="15px">
                                    <col width="22%">
                                    <col width="23%">
                                    <col width="25%">
                                    <col width="30%">
                                </colgroup>
                                <thead>
                                <tr class="productListItemsColumns">
                                    <th class="centerCell"></th>
                                    <th>税种</th>
                                    <th>税率(%)</th>
                                    <th>计税依据(元)</th>
                                    <th>税金(元)</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr></tr>
                                </tfoot>
                                <tbody id="taxList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </fieldset>
    </form>
</div>
<