<% if(invoice.taxSave.length){ %>
<% invoice.taxSave.forEach(function(tax){ %>
<tr class="taxItem" >
    <td class="centerCell"><input type="checkbox" value="<%=tax._id%>" class="checkbox" style="width: 70px;display: none"  <%='checked'%>/></td>
    <td>
        <input data-id="" type="text" id="name" value="<%=tax.name%>" style="border: 0px;text-align: center" readonly>
    </td>
    <td  data-name="rate">
        <input data-id="" type="text" id="rate" value="<%=tax.rate%>" style="text-align: center;border: 0px" readonly>
    </td>
    <td style="text-align: center">
        <input type="text" id="gist" value="<%=tax.gist%>"  style="border: 0px;text-align: center" readonly>
    </td>
    <td class="amount" style="text-align: center">
        <input data-name="amount" type="text" id="cash" value="<%=tax.amount%>" style="border: 0px;text-align: center" readonly>
    </td>
</tr>
<% }); %>
<% }%>